@model IEnumerable<CM_APPLICATIONS.COPR16_FILES_MSTR>

@{
    ViewBag.Title = "FILES LIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FILES LIST</h2>

<p>
    @Html.ActionLink("ADD NEW RETURN TYPE", "Create", "COPR16_FILES_MSTR", new { @class = "btn btn-primary button" })
</p>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
        ;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
</style>
<table class="table table-list stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FILE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FT_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FILE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FILE_URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FILE_FUNC)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.FLGNETWORK)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.FLGACT)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.ADATE)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.CRE_BY)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.MOD_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOD_BY)
        </th>*@
            <th class="command">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_URL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_FUNC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FLGNETWORK)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.FLGACT)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.ADATE)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.CRE_BY)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MOD_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOD_BY)
            </td>*@
            <td class="command">
                @Html.ActionLink("Edit", "Edit", "COPR16_FILES_MSTR", new { id = item.FILE_ID }, new { @class = "btn btn-primary button" }) |
                @Html.ActionLink("View", "Details", "COPR16_FILES_MSTR", new { id = item.FILE_ID }, new { @class = "btn btn-primary button" }) |
                @{

                    if (item.FLGACT == true)
                    {
                        @Html.ActionLink("Deactivate", "Deactive", "COPR16_FILES_MSTR", new { id = item.FILE_ID }, new { @class = "btn btn-primary button" });
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "Active", "COPR16_FILES_MSTR", new { id = item.FILE_ID }, new { @class = "btn btn-primary button" });
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
