@model IEnumerable<CM_APPLICATIONS.COPR16_MACHINE_MSTR>

@{
    ViewBag.Title = "MACHINE LIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MACHINE LIST</h2>


<p>
    @Html.ActionLink("ADD MACHINE", "Create", "COPR16_MACHINE_MSTR", new { @class = "btn btn-primary button" })
</p>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
</style>
<table class="table table-list stripe">
    <thead>
        <tr>
            <th class="username">
                @Html.Label("QR-CODE")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MANC_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MANC_DESC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTYPE_ID)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.FLGACT)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.ADATE)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.CRE_BY)
            </th>
            <th class="command">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @{
            var row = 0;
        }
        @foreach (var item in Model)
        {
            
            var text = "row-id-" + row++;
            
            <tr class="@text">

                <td>
                    @Html.Hidden("QR-TEXT", item.MANC_ID, new { @class = "txt-" + text })
                    <div id="MQRCODE" class="qr-@text"></div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MANC_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MANC_DESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MTYPE_ID)
                </td>
                <td class="username">
                    @Html.DisplayFor(modelItem => item.FLGACT)
                </td>
                <td class="username">
                    @Html.DisplayFor(modelItem => item.ADATE)
                </td>
                <td class="username">
                    @Html.DisplayFor(modelItem => item.CRE_BY)
                </td>


                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MANC_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MANC_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MANC_ID })
                </td>*@
                <td class="command">
                    @Html.ActionLink("Edit", "Edit", "COPR16_MACHINE_MSTR", new { id = item.MANC_ID }, new { @class = "btn btn-primary button" }) |
                    @{

                        if (item.FLGACT == true)
                        {
                            @Html.ActionLink("SINGLE USE", "Deactive", "COPR16_MACHINE_MSTR", new { id = item.MANC_ID }, new { @class = "btn btn-primary button" });
                        }
                        else
                        {
                            @Html.ActionLink("MULTIPLE USE", "Active", "COPR16_MACHINE_MSTR", new { id = item.MANC_ID }, new { @class = "btn btn-primary button" });
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    for (i = 0; i < @row; i++) {
        var txtStr = $('.txt-row-id-' + i).val();
        var qrdiv = $('.qr-row-id-' + i);
        $(qrdiv).qrcode({width: 128,height: 128,text: txtStr});
        //console.log("dsgsgsd:" + txtStr);
    }

    
</script>
