@model IEnumerable<CM_APPLICATIONS.COPR16_LINE_MSTR>

@{
    ViewBag.Title = "LINE MASTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LINE MASTER</h2>

<p>
    @Html.ActionLink("ADD NEW LINE", "Create", "COPR16_LINE_MSTR", new { @class = "btn btn-primary button" })
</p>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
        ;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">LINE ID: </label>
            <div class="col-md-10" style="display:flex;flex-wrap:nowrap">
                @Html.Editor("LINE ID", new { htmlAttributes = new { @class = "form-control LINE-ID", } })
                @*<input type="button"  class="edit-from-date-picker searchBtn">*@
            </div>
        </div>
        <div class="form-group">

            <label class="control-label col-md-2">LINE NAME: </label>
            <div class="col-md-10" style="display:flex;flex-wrap:nowrap">
                @Html.Editor("LINE NAME", new { htmlAttributes = new { @class = "form-control LINE-NAME", } })
                @*<input type="button"  class="edit-from-date-picker searchBtn">*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Search" class="btn btn-primary button refreshBtn" />
                <input type="button" value="Clear" class="btn btn-secondary button resetBtn" />
            </div>
        </div>
    </div>
}
<table class="table table-lists stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LINE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LINE_DESC)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.FLGACT)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.ADATE)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.CRE_BY)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.MOD_BY)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MOD_DATE)
                </th>*@
            <th class="command"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LINE_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LINE_DESC)
                </td>
                <td class="username">
                    @Html.DisplayFor(modelItem => item.FLGACT)
                </td>
                <td class="username">
                    @Html.DisplayFor(modelItem => item.ADATE)
                </td>
                <td class="username">
                    @Html.DisplayFor(modelItem => item.CRE_BY)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.MOD_BY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MOD_DATE)
                    </td>*@
                <td class="command">
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.LINE_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.LINE_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.LINE_ID })*@
                    @Html.ActionLink("Edit", "Edit", "COPR16_LINE_MSTR", new { id = item.LINE_ID }, new { @class = "btn btn-primary button" }) |
                    @Html.ActionLink("View", "Details", "COPR16_LINE_MSTR", new { id = item.LINE_ID }, new { @class = "btn btn-primary button" }) |
                    @{

                        if (item.FLGACT == true)
                        {
                            @Html.ActionLink("Deactivate", "Deactive", "COPR16_LINE_MSTR", new { id = item.LINE_ID }, new { @class = "btn btn-primary button" });
                        }
                        else
                        {
                            @Html.ActionLink("Activate", "Active", "COPR16_LINE_MSTR", new { id = item.LINE_ID }, new { @class = "btn btn-primary button" });
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    var tbVar = $('.table-lists').DataTable({
        "paging": true,
        "ordering": false,
        "info": true,
        "stripe": true,
        "filter":false,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "language": {
            "lengthMenu": "Display  _MENU_  Items / Page",
            "zeroRecords": "<center style='color:blue;'><b>items not found</b></center>",
            "info": "Showing _START_-_END_ of _TOTAL_ items",
            "infoEmpty": "",
            "infoFiltered": "(filtered from _MAX_ total items)"
        },
        columnDefs: [
            { className: 'text-center', targets: [2] }
        ]
    });
    tbVar.clear().draw();
    function getDataFromServer(result) {
        tbVar.clear().draw();
        console.log("STart....");
        //console.log(result);
        var rowResult = result.Data;
        $.each(rowResult, function (i, singleRow) {
            //console.log(singleRow);
            var strText = Object.keys(singleRow);
            //console.log(strText);
            //var rows = tbVar.row.add([0, 1, 2, 3, 4, 5, 6]).draw(false).node();
            //console.log(strText);

            var date = new Date(parseInt(singleRow.ADATE.substr(6)));
            var editBtn = "<input type='button' name='edit_" + singleRow.LINE_ID + "' id='edit_" + singleRow.LINE_ID + "' value='edit' class='btn btn-primary button edit_" + singleRow.LINE_ID + "'><input type='hidden' id='hLINE_ID' name='hLINE_ID' value='" + singleRow.LINE_ID+"'>";
            var rowdata = [
                singleRow.LINE_ID,
                singleRow.LINE_DESC,
                singleRow.FLGACT,
                dateFormat(date, 'dd mmm yyyy h:MM:ss tt'),
                singleRow.CRE_BY, editBtn];
            var rows = tbVar.row.add(rowdata).draw(false).node();

        });


    }
    function refreshData() {
        var LINEID = $('.LINE-ID').val() != null ? $('.LINE-ID').val() : null;
        var LINENAME = $('.LINE-NAME').val() != null ? $('.LINE-NAME').val() : null;
        
        var keyHidden = $('input[name="__RequestVerificationToken"]').val();
        var urlText = "@Url.Action("getLINEList","COPR16_LINE_MSTR")";
        var dataSumbit = {
            "__RequestVerificationToken": keyHidden,
            "LINEID": LINEID,
            "LINENAME": LINENAME
        };
        console.log(dataSumbit);
        $.ajax({
            type: "POST",
            url: urlText,     //your action
            //data: $('form').serialize(),   //your form name.it takes all the values of model
            //dataType: 'json',
            data: dataSumbit,
            success: function (result) {
                console.log(result);
                //updateInfo(result);
                getDataFromServer(result);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("error:" + errorThrown);
            }
        });
    }
    $('.resetBtn').click(function () {
        //getDataFromServer();
        tbVar.clear().draw();
        $('.LINE-ID').val('');
        $('.LINE-NAME').val('');
        $('.LINE-ID').focus();
    });
    $('.refreshBtn').click(function () {
        refreshData();
    });
    $("body").on("click", "input[name^=edit]", function () {
        var fg_no = $(this).parent().find('#hLINE_ID').val();

        console.log(fg_no);
        var url = "@Url.Action("Edit","COPR16_LINE_MSTR")/" + fg_no;
        $(location).attr('href', url);
    });
    $(document).on('keypress', function (e) {
        if (e.which == 13) {
            refreshData();
        }
    });
</script>