@model IEnumerable<CM_APPLICATIONS.COPR16_FGTYPE_MSTR>

@{
    ViewBag.Title = "FG TYPE MASTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FG TYPE MASTER</h2>

<p>
    @Html.ActionLink("ADD NEW FG TYPE", "Create", "COPR16_FGTYPE_MSTR", new { @class = "btn btn-primary button" })
</p>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
        ;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
</style>
<table class="table table-list stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FGT_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGT_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGT_DESC)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.FLGACT)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.ADATE)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.CRE_BY)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.MOD_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOD_DATE)
        </th>*@

            @*<th>
            @Html.DisplayNameFor(model => model.QTY_PART)
        </th>*@
            <th class="command">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FGT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGT_DESC)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.FLGACT)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.ADATE)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.CRE_BY)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.MOD_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOD_DATE)
        </td>*@

            @*<td>
            @Html.DisplayFor(modelItem => item.QTY_PART)
        </td>*@
            <td class="command">
                @Html.ActionLink("Edit", "Edit", "COPR16_FGTYPE_MSTR", new { id = item.FGT_ID }, new { @class = "btn btn-primary button" }) |
                @Html.ActionLink("View", "Details", "COPR16_FGTYPE_MSTR", new { id = item.FGT_ID }, new { @class = "btn btn-primary button" }) |
                @{

                    if (item.FLGACT == true)
                    {
                        @Html.ActionLink("Deactivate", "Deactive", "COPR16_FGTYPE_MSTR", new { id = item.FGT_ID }, new { @class = "btn btn-primary button" });
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "Active", "COPR16_FGTYPE_MSTR", new { id = item.FGT_ID }, new { @class = "btn btn-primary button" });
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
