@model IEnumerable<CM_APPLICATIONS.COPR16_MEASURETYPE_MSTR>

@{
    ViewBag.Title = "MEASUREMENT TYPE MASTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>MEASUREMENT TYPE MASTER</h2>

<p>
    @Html.ActionLink("ADD NEW MEASUREMENT TYPE", "Create", "COPR16_MEASURETYPE_MSTR", new { @class = "btn btn-primary button" })
</p>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
        
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
</style>
<table class="table table-list stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MSTYPE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSTYPE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESC)
            </th>
            <th class="username">
                PROPERTIES/VALUE
                @*@Html.DisplayNameFor(model => model.OPTION_UNIT)*@
            </th>

            @*<th class="username">
                @Html.DisplayNameFor(model => model.FROM_FILE)
            </th>*@
            <th class="username">
                @Html.DisplayNameFor(model => model.FLGACT)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.ADATE)
            </th>
            <th class="username">
                @Html.DisplayNameFor(model => model.CRE_BY)
            </th>
            <th class="command">ACTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MSTYPE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSTYPE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESC)
            </td>
            <td class="username">

                @*@Html.DisplayFor(modelItem => item.OPTION_UNIT)*@
                @{
                    if (item.OPTION_UNIT.Value.ToString().ToUpper().Contains("FALSE"))
                    {

                        if (!item.UNIT_ID.ToUpper().Contains("FREE-TEXT"))
                        {
                            <label>Unit Name : @Html.DisplayFor(modelItem => item.UNIT_ID)</label><br>
                            <label>Min: </label>@Html.DisplayFor(modelItem => item.MIN_VALUE)
                            <label>&nbsp; Max: </label>@Html.DisplayFor(modelItem => item.MAX_VALUE)
                        }
                        else
                        {
                            <label style="color:darkgray !important">@Html.DisplayFor(modelItem => item.UNIT_ID)</label><br>
                        }
                    }
                    else
                    {
                        <label style="color:blue !important">Value of: @Html.DisplayFor(modelItem => item.OPT_ID)</label><br>
                    }
                }
            </td>

            @*
            <td class="username">
                @Html.DisplayFor(modelItem => item.FROM_FILE)
            </td>
            *@
            <td class="username">
                @Html.DisplayFor(modelItem => item.FLGACT)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.ADATE)
            </td>
            <td class="username">
                @Html.DisplayFor(modelItem => item.CRE_BY)
            </td>
            <td class="command">
                @Html.ActionLink("Edit", "Edit", "COPR16_MEASURETYPE_MSTR", new { id = item.MSTYPE_ID }, new { @class = "btn btn-primary button" }) |
                @*@Html.ActionLink("View", "Details", "COPR16_MEASURETYPE_MSTR", new { id = item.MSTYPE_ID }, new { @class = "btn btn-primary button" }) |*@
                @{

                    if (item.FLGACT == true)
                    {
                        @Html.ActionLink("Deactivate", "Deactive", "COPR16_MEASURETYPE_MSTR", new { id = item.MSTYPE_ID }, new { @class = "btn btn-primary button" });
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "Active", "COPR16_MEASURETYPE_MSTR", new { id = item.MSTYPE_ID }, new { @class = "btn btn-primary button" });
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
