@model CM_APPLICATIONS.Models.ItemsModel

@{
    ViewBag.Title = "ITEMS MASTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>ITEMS MASTER</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>NEW</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.ITEM_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.ITEM_ID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.ITEM_ID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.FGTYPE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cOPR16_ITEMS_MSTR.FGTYPE_ID, Model.FGTYPE_LIST, null, new { @class = "form-control" })
            @*@Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, Model.FG_LIST, null, new { @class = "form-control" })
            @*@Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.BRAND_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cOPR16_ITEMS_MSTR.BRAND_ID, Model.BRAND_LIST, null, new { @class = "form-control" })
            @*@Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.BRAND_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.BRAND_ID, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, Model.MODEL_LIST, null, new { @class = "form-control" })
            @*@Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, Model.LINE_LIST, null, new { @class = "form-control" })
            @*@Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.POS_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cOPR16_ITEMS_MSTR.POS_ID, Model.POSITION_LIST, null, new { @class = "form-control" })

            @*@Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.POS_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.POS_ID, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.FLGACT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.FLGACT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.FLGACT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.ADATE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.ADATE, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.ADATE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.CRE_BY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.CRE_BY, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.CRE_BY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.MOD_BY, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.MOD_BY, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.MOD_BY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.MOD_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.MOD_DATE, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.MOD_DATE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
            <input type="reset" value="Clear" class="btn btn-secondary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "COPR16_ITEMS_MSTR", new { @class = "btn btn-primary button" })
</div>
<script>

    $("#cOPR16_ITEMS_MSTR_CRE_BY").val("@System.Environment.UserName.ToLower()");
    $("#cOPR16_ITEMS_MSTR_ADATE").val("@System.DateTime.Now");
    $("#cOPR16_ITEMS_MSTR_FLGACT").val("true");

</script>