@*@model CM_APPLICATIONS.COPR16_COPRUNNING*@
@model CM_APPLICATIONS.Models.CopRunningModel

@{
    ViewBag.Title = "COP R16 RUNNING";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/js-cop-label.css" rel="stylesheet" />
<script src="~/Scripts/cop-label/js-cop-label.js"></script>
<script src="~/Scripts/html2canvas.js"></script>
<h2>CREATE COPR16 AID (INDO.) </h2>
<style>
    .PN-TEXT {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px !important;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
    }

    .FG-TYPE {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 38px;
    }

    .COP-TITLE {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
    }

    .label-sticker {
        width: 100.0mm !important;
        height: 53.5mm !important;
        max-height: 60.5mm !important;
        max-width: 100.0mm !important;
        overflow: hidden;
        /*background-color: lightgray;*/
        /*border: 1px solid lightgray;*/
        display: inline-block;
    }
</style>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }

    .PROC_ID {
        display: none !important;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>NEW</h4>
    <hr />
    <table with="100%">
        <tr>
            <th class="col-md-2" style="vertical-align: top !important;width: 60% !important;">
                <div class="form-horizontal col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Hidden("UID", CM_APPLICATIONS.Models.AppPropModel.username)

                    @Html.Hidden("text-hSB-PNO", "")
                    @Html.Hidden("text-hBKL-PNO", "")
                    @Html.Hidden("text-hBKL-PNO2", "")
                    @Html.Hidden("text-hSB-LOTNO", "")
                    @Html.Hidden("text-hBKL-LOTNO", "")
                    @Html.Hidden("text-hBKL-LOTNO2", "")
                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.COPR_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.cOPR16_COPRUNNING.COPR_ID, new { htmlAttributes = new { @class = "form-control COPR16_ID" } })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.COPR_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.WRK_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.cOPR16_COPRUNNING.WRK_ID, Model.WRK_LIST, null, new { @class = "form-control WRK_ID" })
                            @*@Html.EditorFor(model => model.cOPR16_COPRUNNING.WRK_ID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.WRK_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group PROC_ID">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.PROC_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @*@Html.TextAreaFor(model => model.cOPR16_COPRUNNING.DESC, new { @class = "form-control", @rows = "6" })*@
                            @Html.DropDownListFor(model => model.cOPR16_COPRUNNING.PROC_ID, Model.PROC_LIST, null, new { @class = "form-control PROC_ID", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.PROC_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.MODEL_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @*@Html.EditorFor(model => model.cOPR16_COPRUNNING.MODEL_ID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @* @Html.DropDownListFor(model => model.cOPR16_COPRUNNING.MODEL_ID, Model.MODEL_LIST, null, new { @class = "form-control MODEL_ID" })*@
                            @Html.EditorFor(model => model.cOPR16_COPRUNNING.MODEL_ID, new { htmlAttributes = new { @class = "form-control MODEL_ID" } })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.MODEL_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.LINE_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @*@Html.EditorFor(model => model.cOPR16_COPRUNNING.MODEL_ID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @*@Html.DropDownListFor(model => model.cOPR16_COPRUNNING.LINE_ID, Model.LINE_LIST, null, new { @class = "form-control list_LINE_ID" })*@
                            @Html.EditorFor(model => model.cOPR16_COPRUNNING.LINE_ID, new { htmlAttributes = new { @class = "form-control list_LINE_ID" } })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.LINE_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.POSITION_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @*
                @Html.DropDownListFor(model => model.cOPR16_COPRUNNING.POSITION_ID, Model.POSITION_LIST, null, new { @class = "form-control list_POSITION_ID", @readonly = "readonly" })
                @Html.DropDownListFor(model => model.cOPR16_COPRUNNING.POSITION_ID, Model.POSITION_LIST, null, new { @class = "form-control list_POSITION_ID", @readonly = "readonly" })
                                        @Html.EditorFor(model => model.cOPR16_COPRUNNING.POSITION_ID, new { htmlAttributes = new { @class = "form-control list_POSITION_ID" } })
                            *@

                            @Html.DropDownListFor(model => model.cOPR16_COPRUNNING.POSITION_ID, Model.POSITION_LIST, null, new { @class = "form-control list_POSITION_ID" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.DESC, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.cOPR16_COPRUNNING.DESC, new { @class = "form-control", @rows = "6" })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.DESC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.COP_STATUS, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.cOPR16_COPRUNNING.COP_STATUS, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.COP_STATUS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.cOPR16_COPRUNNING.ADATE, htmlAttributes: new { @class = "control-label col-md-3" })*@
                        @Html.Label("LOT DATE", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-6">
                            @*@Html.EditorFor(model => model.cOPR16_COPRUNNING.ADATE, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })*@
                            @Html.Editor("cOPR16_COPRUNNING_ADATE", new { htmlAttributes = new { @class = "form-control", @readonly = "true", @name = "cOPR16_COPRUNNING.ADATE" } })
                        </div>
@*                        <div class="col-md-2">
                            <input type="button" value="..." class="form-control btn btn-primary button LOTLIST" />
                        </div>*@
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.cOPR16_COPRUNNING.CRE_BY, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.cOPR16_COPRUNNING.CRE_BY, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                            @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING.CRE_BY, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
            </th>
            <th class="col-md-4" style="vertical-align:top">
                <div class="label-sticker machine-sticker-a" style="padding-left:15px;">
                    <table width="100%" border="0">
                        <tr>
                            <th width="100px" class="COP-TITLE"> COP No. : </th>
                            <th colspan="2" style="padding-right:15px;text-align:right;" class="COP-TITLE">
                                <lable class="COPNOA" /><u>A</u>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2" class="COP-TITLE"> Model: <lable class="COPMODELA" /></th>

                            <th width="110px" rowspan="3" style="text-align:right;padding-right: 10px !important;"><div class="col-md-2 qr-code-dsp-a" style="text-align:right;"></div></th>
                        </tr>
                        <tr>
                            <th colspan="2" class="COP-TITLE"><lable class="COPPOSA" /></th>
                        </tr>
                        <tr>
                            <th colspan="2" class="FG-TYPE"><b>SB</b></th>
                        </tr>
                        <tr>
                            <th class="PN-TEXT">SB: <lable class="COPSBPNOA" /></th>
                            <th>&nbsp;</th>
                            <th class="PN-TEXT">Lot.: <lable class="COPSBLOTA" /></th>
                        </tr>
                        <tr>
                            <th class="PN-TEXT">BKL: <lable class="COPBKLPNOA" /></th>
                            <th>&nbsp;</th>
                            <th class="PN-TEXT">Lot.: <lable class="COPBKLLOTA" /></th>
                        </tr>
                    </table>

                </div>
                <div>
                    <input type="button" value="Select Seat Belt" class="btn btn-primary button sbBtn" />
                    <input type="button" value="Print Seat Belt Sticker" class="btn btn-primary button sb-print-Btn" />
                </div>
                <hr>
                <div class="label-sticker machine-sticker-b" style="padding-left:15px;">
                    <table width="100%" border="0">
                        <tr>
                            <th width="100px" class="COP-TITLE"> COP No. : </th>
                            <th colspan="2" style="padding-right:15px;text-align:right;" class="COP-TITLE">
                                <lable class="COPNOB" /><u>B</u>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2" class="COP-TITLE"> Model: <lable class="COPMODELB" /></th>

                            <th width="110px" rowspan="3" style="text-align:right;padding-right: 10px !important;"><div class="col-md-2 qr-code-dsp-b" style="text-align:right;"></div></th>
                        </tr>
                        <tr>
                            <th colspan="2" class="COP-TITLE"><lable class="COPPOSB" /></th>
                        </tr>
                        <tr>
                            <th colspan="2" class="FG-TYPE"><b>BKL</b></th>
                        </tr>
                        <tr>
                            <th class="PN-TEXT">SB: <lable class="COPSBPNOB" /></th>
                            <th>&nbsp;</th>
                            <th class="PN-TEXT">Lot.: <lable class="COPSBLOTB" /></th>
                        </tr>

                        <tr>
                            <th class="PN-TEXT">BKL: <lable class="COPBKLPNOB" /></th>
                            <th>&nbsp;</th>
                            <th class="PN-TEXT">Lot.: <lable class="COPBKLLOTB" /></th>
                        </tr>

                    </table>


                </div>
                <div>
                    <input type="button" value="Select Buckle" class="btn btn-primary button bklBtn" />
                    <input type="button" value="Print Buckle Sticker" class="btn btn-primary button bkl-print-Btn" />
                </div>
            </th>
        </tr>
        <TR>
            <th colspan="2">
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input type="button" value="Create" class="btn btn-primary button createBtn" />
                        <input type="reset" value="Clear" class="btn btn-secondary closed-btn" />
                    </div>
                </div>
            </th>
        </TR>
    </table>

}
<div id="previewImage" class="label" style="display:none !important;">
</div>
<div id="previewImageEx" class="label">
</div>
<div>
    @Html.ActionLink("Back to List", "Index", "COPR16_COPRUNNING", new { @class = "btn btn-primary button" })
</div>

<div class="modal fade" id="SAVEALL_DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">PLEASE CONFIRM </h4>
            </div>
            <div class="modal-body" id="OPTIONS_BODY">
                <H4>Please confirm to create this ?</H4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary button YesSavedAllBtn">YES</a>
                <a class="btn btn-secondary button NoSaveAllBtn">NO</a>
            </div>

        </div>
    </div>
</div><!-- /.modal Confirm Save-->

<div class="modal fade" id="SAVEALL_FOR_PRINT_DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">PLEASE CONFIRM </h4>
            </div>
            <div class="modal-body" id="OPTIONS_BODY">
                <H4>Please save COP before print?</H4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary button YesSaved4print">YES</a>
                <a class="btn btn-secondary button NotoSave">NO</a>
            </div>

        </div>
    </div>
</div><!-- /.modal Confirm Save-->

<div class="modal fade" id="lModalSuccess" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelSuccess">Success</h4>
            </div>
            <div class="modal-body">
                <h4 id="lModalBodySuccess"></h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lSuccesscloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Successful-->

<div class="modal fade" id="lModalError" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelError">Error</h4>
            </div>
            <div class="modal-body">
                <h4 id="lModalBodyError"></h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lerrcloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Error -->

<div class="modal fade" id="SELECT-TRACIING-LOTDATE" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px !important ">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">SELECT TRACKING DATE (LOT DATE)</h4>
            </div>
            <div class="modal-body" id="OPTIONS_BODY">
                <table width="100%">
                    <tr>
                        <th style="width:230px">
                            <div class="form-horizontal container">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group row justify-content-sm-end">
                                    @Html.Label("MODEL : ", htmlAttributes: new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-4 ">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, new { htmlAttributes = new { @class = "form-control col-sm-4 LOT_MODEL", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="form-group row justify-content-sm-end">
                                    @Html.Label("LINE : ", htmlAttributes: new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, new { htmlAttributes = new { @class = "form-control col-sm-4 LOT_LINE", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <div class="form-group row justify-content-sm-end">
                                    @Html.Label("POSITION : ", htmlAttributes: new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-4">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, new { htmlAttributes = new { @class = "form-control col-sm-4 LOT_ZONE", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <input type="hidden" id="hSelectRowid" value="" />
                                <input type="hidden" id="hOrdered" value="" />
                                <input type="hidden" id="hMain" value="" />
                            </div>
                        </th>
                        <th class="col-sm-1" style="vertical-align:top;width:1%;">
                            <div class="form-horizontal HINTS_DIV">
                                <div class="form-group">
                                    <div class="col-md-12 hints" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:12px">
                                        <a class="btn btn-primary button lot-refresh-btn">REFRESH</a>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div>
                                <table class="table stripe table-lot-tracking">
                                    <thead>
                                        <tr>
                                            <th>
                                                DATE
                                            </th>
                                            <th>
                                                Accumulative QTY.
                                            </th>
                                            <th>
                                                COP Trigger
                                            </th>
                                            <th>
                                                SELECT
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </th>
                    </tr>

                </table>

            </div>
            <div class="modal-footer">
                @*<a class="btn btn-primary button insertbtn">ADD ITEM</a>
                    <a class="btn btn-primary button updatebtn">UPDATE ITEM</a>*@
                <a class="btn btn-secondary button lotlistclosebtn">CLOSE</a>
            </div>

        </div>
    </div>
</div><!-- / Modal SB_DLG -->

<div class="modal fade" id="SB_DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px !important ">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">SELECT SEAT BELT</h4>
            </div>
            <div class="modal-body" id="OPTIONS_BODY">
                <table width="100%">
                    <tr>
                        <th class="col-md-8">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, new { htmlAttributes = new { @class = "form-control FG_NO SB-FG-NO" } })
                                        @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, new { htmlAttributes = new { @class = "form-control MODEL_NO SB-MODEL-NO" } })
                                        @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, new { htmlAttributes = new { @class = "form-control SB-LINE-NO" } })
                                        @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <input type="hidden" id="hSelectRowid" value="" />
                                <input type="hidden" id="hOrdered" value="" />
                                <input type="hidden" id="hMain" value="" />
                            </div>
                        </th>
                        <th class="col-md-4" style="vertical-align:top;">
                            <div class="form-horizontal HINTS_DIV">
                                <div class="form-group">
                                    <div class="col-md-12 hints" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:12px">
                                        <a class="btn btn-primary button search-sb-btn">SEARCH</a>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div>
                                <table class="table stripe table-sb">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.Label("ITEM NO")
                                            </th>
                                            <th>
                                                @Html.Label("MODEL")
                                            </th>
                                            <th>
                                                @Html.Label("LINE")
                                            </th>
                                            <th>
                                                @Html.Label("POSISION")
                                            </th>
                                            <th>
                                                @Html.Label("ACTION")
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </th>
                    </tr>

                </table>

            </div>
            <div class="modal-footer">
                @*<a class="btn btn-primary button insertbtn">ADD ITEM</a>
                    <a class="btn btn-primary button updatebtn">UPDATE ITEM</a>*@
                <a class="btn btn-secondary button sbclosebtn">CLOSE</a>
            </div>

        </div>
    </div>
</div><!-- / Modal SB_DLG -->

<div class="modal fade" id="BKL_DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px !important ">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">SELECT BUNKLE</h4>
            </div>
            <div class="modal-body" id="OPTIONS_BODY">
                <table width="100%">
                    <tr>
                        <th class="col-md-8">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, new { htmlAttributes = new { @class = "form-control BKL_FG_NO" } })
                                        @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.FG_NO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, new { htmlAttributes = new { @class = "form-control BKL_MODEL_NO" } })
                                        @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.MODLE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, new { htmlAttributes = new { @class = "form-control BKL_LINE_NO" } })
                                        @Html.ValidationMessageFor(model => model.cOPR16_ITEMS_MSTR.LINE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <input type="hidden" id="hSelectRowid" value="" />
                                <input type="hidden" id="hOrdered" value="" />
                                <input type="hidden" id="hMain" value="" />
                            </div>
                        </th>
                        <th class="col-md-4" style="vertical-align:top;">
                            <div class="form-horizontal HINTS_DIV">
                                <div class="form-group">
                                    <div class="col-md-12 hints" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:12px">
                                        <a class="btn btn-primary button search-bkl-btn">SEARCH</a>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div>
                                <table class="table stripe table-bkl">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.Label("ITEM NO (BUCKLE)")
                                            </th>
                                            <th>
                                                @Html.Label("MODEL")
                                            </th>
                                            <th>
                                                @Html.Label("LINE")
                                            </th>
                                            <th>
                                                @Html.Label("POSITION")
                                            </th>
                                            <th>
                                                @Html.Label("ACTION")
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </th>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                @*<a class="btn btn-primary button insertbtn">ADD ITEM</a>
                    <a class="btn btn-primary button updatebtn">UPDATE ITEM</a>*@
                <a class="btn btn-secondary button sbclosebtn">CLOSE</a>
            </div>

        </div>
    </div>
</div><!-- / Modal BKL_DLG -->

<div class="modal fade" id="SELECT-SB-DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle" style="text-align: left">SELECT ITEM </h4>
            </div>
            <div class="modal-body col-md-12" id="SELECT_BODY">
                <h4 style="text-align: left;">
                    Please fill-in LOT number
                </h4>
                <div class="form-group align-items: left;text-align: left;white-space: nowrap;flex-flow: nowrap;flex-wrap: nowrap;width: 500px !important;">
                    @Html.LabelFor(model => model.cOPR16_COPRUNNING_DT.PNO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cOPR16_COPRUNNING_DT.PNO, new { htmlAttributes = new { @class = "form-control SB-PNO"} })
                        @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING_DT.PNO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group align-items: left;text-align: left;white-space: nowrap;flex-flow: nowrap;flex-wrap: nowrap;width: 500px !important;">
                    @Html.LabelFor(model => model.cOPR16_COPRUNNING_DT.LOTNO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cOPR16_COPRUNNING_DT.LOTNO, new { htmlAttributes = new { @class = "form-control SB-LOTNO" } })
                        @Html.ValidationMessageFor(model => model.cOPR16_COPRUNNING_DT.LOTNO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary button confirm-select-Btn">YES</a>
                <a class="btn btn-secondary button close-select-Btn">NO</a>
            </div>

        </div>
    </div>
</div><!-- / Modal CONFIRM SELECT SEAT BELT -->

<div class="modal fade" id="SELECT-BKL-DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle" style="text-align: left">SELECT ITEM </h4>
            </div>
            <div class="row modal-body col-sm-12" id="SELECT_BODY">
                <h4 style="text-align: left;">
                    Please fill-in LOT number
                </h4>
                <div class="row form-group justify-content-sm-end " style="text-align:right;">
                    @Html.Label("BUCKLE (FG NO)", htmlAttributes: new { @class = "control-label col-sm-4  justify-content-sm-end" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.cOPR16_COPRUNNING_DT.PNO, new { htmlAttributes = new { @class = "form-control CONFIRM-BKL-PNO" } })
                    </div>
                </div>
                <div class="row form-group justify-content-sm-end">
                    @Html.Label("LOTNO :", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.cOPR16_COPRUNNING_DT.LOTNO, new { htmlAttributes = new { @class = "form-control CONFIRM-BKL-LOTNO" } })
                    </div>
                </div>
                <hr />
                <div class="row form-group justify-content-sm-end ">
                    @Html.Label("BUCKLE 2 (FG NO): ", htmlAttributes: new { @class = "control-label col-sm-4 " })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.cOPR16_COPRUNNING_DT.PNO, new { htmlAttributes = new { @class = "form-control CONFIRM-BKL-PNO2" } })
                    </div>
                </div>
                <div class="row form-group justify-content-sm-end ">
                    @Html.Label("LOTNO 2 : ", htmlAttributes: new { @class = "control-label col-sm-4" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.cOPR16_COPRUNNING_DT.LOTNO, new { htmlAttributes = new { @class = "form-control CONFIRM-BKL-LOTNO2" } })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a class="btn btn-primary button bkl-confirm-select-Btn">YES</a>
                <a class="btn btn-secondary button close-select-Btn">NO</a>
            </div>

        </div>
    </div>
</div><!-- / Modal CONFIRM SELECT BUNKLE -->

<script>
    $("#cOPR16_COPRUNNING_CRE_BY").val("@CM_APPLICATIONS.Models.AppPropModel.username");

    $("#cOPR16_COPRUNNING_ADATE").val("@System.DateTime.Now");
    $("#cOPR16_COPRUNNING_FLGACT").val("true");
    $("#cOPR16_COPRUNNING_COP_STATUS").val("NEW");
    var tbVarSB = $('.table-sb').DataTable({
        "paging": true,
        "ordering": true,
        "info": true,
        "stripe": true,
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No records available",
            "info": "Showing _START_-_END_ of _TOTAL_ rows",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
    var tbVarBKL = $('.table-bkl').DataTable({
        "paging": true,
        "ordering": true,
        "info": true,
        "stripe": true,
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No records available",
            "info": "Showing _START_-_END_ of _TOTAL_ rows",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
    var tbVarLot = $('.table-lot-tracking').DataTable({
        "paging": true,
        "ordering": false,
        "info": true,
        "stripe": true,
        "language": {
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "No records available",
            "info": "Showing _START_-_END_ of _TOTAL_ rows",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
</script><!-- /Script For First Display -->

<script>

    $('#cOPR16_COPRUNNING_PROC_ID').change(function () {
        updateProc();
    });
    $('#cOPR16_COPRUNNING_MODEL_ID').change(function () {
        updateModel();
    });
    $('#cOPR16_COPRUNNING_POSITION_ID').change(function () {
        updatePosition();
    });
    var COPRUNING_NO = "";
    function updateInfo(rst) {
        updateProc();
    }
    function updatePosition() {

        var positionString = "";
        positionString = $('.list_POSITION_ID option:selected').text();
        if (typeof (sbLabel) != 'undefined') {
            sbLabel.setPosttion(positionString.substring(0, 2), positionString.substring(2, positionString.length - 1).replace("(", "").replace(")", ""));
            bklLabel.setPosttion(positionString.substring(0, 2), positionString.substring(2, positionString.length - 1).replace("(", "").replace(")", ""));
        }

    }
    function updateModel() {
        var varText = $('#cOPR16_COPRUNNING_MODEL_ID').val();
        if (typeof (sbLabel) != 'undefined') {
            sbLabel.setModelText(varText);
            bklLabel.setModelText(varText);
        }
    }

    function updateLineList(strMODEL_ID) {
        if (typeof (sbLabel) != 'undefined') {
            sbLabel.setLineText($('.list_LINE_ID').val());
            bklLabel.setLineText($('.list_LINE_ID').val());
            $('.list_POSITION_ID').val("");
            $('.SB-PARTNO').html("");
            $('.SBLOT').html("");
            $("#cOPR16_COPRUNNING_DESC").val("");
        }
    }
    $('.list_LINE_ID').change(function () {

        sbLabel.setLineText($('.list_LINE_ID').val());
        bklLabel.setLineText($('.list_LINE_ID').val());

        //$('.list_POSITION_ID').val("");
        //$('.SB-PARTNO').html("");
        //$('.SBLOT').html("");

        //sbLabel.setPosttion("","");
        //bklLabel.setPosttion("", "");
        //$("#cOPR16_COPRUNNING_ADATE").val("");
        //$("#cOPR16_COPRUNNING_DESC").val("");
        //clearValue();
    });
    
    function updatePosList() {
        if (typeof (sbLabel) != 'undefined') {
            var positionString = $('.list_POSITION_ID').val();
            sbLabel.setPosttion(positionString.substring(0, 2), positionString.substring(2, positionString.length - 1).replace("(", "").replace(")", ""));
            bklLabel.setPosttion(positionString.substring(0, 2), positionString.substring(2, positionString.length - 1).replace("(", "").replace(")", ""));
        }

    }
    
    function updateProc() {
        $('.qr-code-dsp-a').html("");
        $('.qr-code-dsp-b').html("");
        var varText = $('#cOPR16_COPRUNNING_PROC_ID').val().substring(0, 2);
        var varWRK_ID = $('.WRK_ID').val().replace('COP-AID-','');
        console.log('updateProc', pText);
        if (pText.length > 0) varText = pText;
        var COP_FULL_DIGIT = "AID-" + varText + "-" + varWRK_ID;
        var COP_FULL_DIGIT_A = COP_FULL_DIGIT + "A";
        var COP_FULL_DIGIT_B = COP_FULL_DIGIT + "B";
        if (typeof (sbLabel) != 'undefined') {
            sbLabel.setCopno(COP_FULL_DIGIT);
            bklLabel.setCopno(COP_FULL_DIGIT);
        }
        $('#cOPR16_COPRUNNING_COPR_ID').val(COP_FULL_DIGIT);
        $('.qr-code-dsp-a').qrcode({ width: 110, height: 110, text: COP_FULL_DIGIT_A });
        $('.qr-code-dsp-b').qrcode({ width: 110, height: 110, text: COP_FULL_DIGIT_B });
        $('.COPNOA').html(COP_FULL_DIGIT + "<u>A</u>");
        $('.COPNOB').html(COP_FULL_DIGIT + "<u>B</u>");

    }
    $('.WRK_ID').change(function () {
        updateProc();
    });
    var pText = "";
    //cOPR16_COPRUNNING_COPR_ID
    $("#cOPR16_COPRUNNING_COPR_ID").change(function () {
        pText = $(this).val().replace('AID-', '');
        var copid = "AID-" + pText;
        console.log("$(this).val(); ", copid);
        var varWRK_ID = $('.WRK_ID').val().replace('COP-AID-', '');
        copid = copid + '-' + varWRK_ID;
        console.log('("#cOPR16_COPRUNNING_COPR_ID").change', varWRK_ID);
        var COP_FULL_DIGIT = copid;
        COPRUNING_NO = copid;

        if (typeof (sbLabel) != 'undefined') {
            sbLabel.setCopno(COP_FULL_DIGIT);
            bklLabel.setCopno(COP_FULL_DIGIT);
        }
        $(this).val(copid);
    });
    function getCopRunning() {
        var urlText = "@Url.Action("GetCOPID","COPR16_COPRUNNING")";
        var options = { "backdrop": "static", keyboard: true };
        var jdata = {id:""}
        //console.log(jdata);
        //console.log(".---.");

        $.ajax({
            type: "POST",
            url: urlText,     //your action
            //data: $('form').serialize(),   //your form name.it takes all the values of model
            //dataType: 'json',
            data: jdata,
            success: function (result) {
                console.log(result);
                //alert(result);
                sbLabel.createLabel('.machine-sticker-a');
                $('.machine-sticker-a').attr('style','display:none;');
                bklLabel.createLabel('.machine-sticker-b');
                $('.machine-sticker-b').attr('style', 'display:none;');
                updateInfo(result);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                //alert("error:" + errorThrown);
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#ModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);
                $('#ModalError').modal('show');
            }
        });
        return false;

    }



</script>
<script>
    $("a.sbclosebtn").click(function () {
        $('#SB_DLG').modal('hide');
        $('#BKL_DLG').modal('hide');
    });
    $("input.sbBtn").click(function () {
        $('#SELECT-SB-DLG').modal('show');
    });
    $("input.bklBtn").click(function () {
        $('#SELECT-BKL-DLG').modal('show');
    });
</script>
<script>
    var flagSBPrint = false;
    var elementA = $(".machine-sticker-a");
    var elementB = $(".machine-sticker-b");
    var getCanvas;

    function print_SB() {
        var elementA = sbLabel.getLabel();//$(".machine-sticker-a");


        var shareContent = elementA;
        var width = shareContent.offsetWidth;
        var height = shareContent.offsetHeight;

        var canvas = document.createElement("canvas");
        var scale = 0.5;

        canvas.width = width * scale;
        canvas.height = height * scale;
        canvas.getContext("2d").scale(scale, scale);

        var opts = {
            scale: scale,
            canvas: canvas,
            logging: true,
            width: width,
            height: height
        }

        elementA.css("padding-left", "0px");
        elementA.css("background-color", "white");
        html2canvas(elementA, {
            scale: scale,
            logging: true,
            width: width,
            height: height,
            onrendered: function (canvas) {
                console.log(elementA);

                $("#previewImage").html("");

                var extra_canvas = document.createElement("canvas");
                extra_canvas.setAttribute('width', 145);
                extra_canvas.setAttribute('height', 90);
                var ctx = extra_canvas.getContext('2d');
                ctx.drawImage(canvas, 0, 0, canvas.width, canvas.height, 0, 0, canvas.width / 2, canvas.height / 2);
                var dataURL = extra_canvas.toDataURL("image/png");

                getCanvas = canvas;
                console.log(getCanvas);

                var ctx2 = canvas.getContext('2d');
                ctx2.scale(150, 110);

                var strUrl = canvas.toDataURL("image/png");
                var img = "<img id='img01' class='img01' src='" + strUrl + "' class='cop-label-main-print'/>";
                $("#previewImage").append(img);
                $("#previewImage").css("border", "1px blue solid");
                $("#previewImage").css("padding-left", "0px");
                $("#previewImage").css("background-color", "white");

                PrintDiv("previewImage");


            }
        });

    }
    function print_BLK() {
        var elementB = bklLabel.getLabel();
        html2canvas(elementB, {
            onrendered: function (canvas) {
                $("#previewImage").html("");
                getCanvas = canvas;
                var strUrl = canvas.toDataURL("image/png");
                var img = "<img id='img01' class='img01' src='" + strUrl + "' />";
                $("#previewImage").append(img);

                PrintDiv("previewImage");
                $(".machine-sticker-b").css("padding-left", "0px");
                $("#previewImage").hide();
            }
        });

    }
    $(".sb-print-Btn").on('click', function () {
        var strLotDate = $("#cOPR16_COPRUNNING_ADATE").val();
        var strVal = $("#cOPR16_COPRUNNING_COPR_ID").val();
        var strPos = $(".list_POSITION_ID").val();
        var strBKLPNO = $('#text-hBKL-PNO').val();
        var strSBPNO = $('#text-hSB-PNO').val();
        if (strSBPNO == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select SB Parts and LOT No. from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }
        if (strBKLPNO == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select Buckle Parts and LOT No. from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }
        if (strPos == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select SB Parts and LOT No. from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }

        if (strLotDate == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select LOT Date from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }


        if (strVal.includes("TBD") > 0) {

            $('#SAVEALL_FOR_PRINT_DLG').modal('show');
            flagSBPrint = true;
        } else {
            print_SB();
        }
    });

    $(".bkl-print-Btn").on('click', function () {
        //print_BLK();
        var strLotDate = $("#cOPR16_COPRUNNING_ADATE").val();
        var strVal = $("#cOPR16_COPRUNNING_COPR_ID").val();
        var strPos = $(".list_POSITION_ID").val();
        var strBKLPNO = $('#text-hBKL-PNO').val();
        var strSBPNO = $('#text-hSB-PNO').val();
        if (strSBPNO == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select SB Parts and LOT No. from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }
        if (strBKLPNO == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select Buckle Parts and LOT No. from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }
        if (strPos == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select SB Parts and LOT No. from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }

        if (strLotDate == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select LOT Date from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        }

        if (strVal.includes("TBD") > 0) {
            $('#SAVEALL_FOR_PRINT_DLG').modal('show');
            flagSBPrint = false;
        } else {
            print_BLK();
        }
    });

</script><!-- /Script For Select Seat Belt -->
<script>
    var bklNo = 0;
    $("body").on("click", '.close-select-Btn', function (env) {
        $('#SELECT-SB-DLG').modal('hide');
        $('#SELECT-BKL-DLG').modal('hide');
    });
    $("body").on("click", "a.sb_select_btn", function (ev) {
        var p = $(this).parent();
        var fg_id = $(p).find(".hSB-PNO").val();
        var cPosText = $(p).find(".hSB-POS-text").val();

        $('#SELECT-SB-DLG').modal('show');
        $('#SB_DLG').modal('hide');
        $('.SB-PNO').val(fg_id);
        $('.SB-LOTNO').focus();
        $('.list_POSITION_ID').val(cPosText);
        $('.COPPOSB').html("");
        $('.COPPOSA').html("");
        positionString = $('.list_POSITION_ID').val();
        $('.COPPOSB').html(positionString);
        $('.COPPOSA').html(positionString);
        sbLabel.setPosttion(positionString.substring(0, 2), positionString.substring(2, positionString.length - 1).replace("(", "").replace(")", ""));
        bklLabel.setPosttion(positionString.substring(0, 2), positionString.substring(2, positionString.length - 1).replace("(", "").replace(")", ""));
    });
    $("body").on("click", "a.bkl_select_btn", function (ev) {
        bklNo = 1;
        var p = $(this).parent();
        var fg_id = $(p).find(".hBKL-PNO").val();
        $('#SELECT-BKL-DLG').modal('show');
        $('#BKL_DLG').modal('hide');
        $('.CONFIRM-BKL-PNO').val(fg_id);
        $('.CONFIRM-BKL-LOTNO').focus();
    });
    $("body").on("click", "a.bkl_select_btn2", function (ev) {
        bklNo = 2;
        var p = $(this).parent();
        var fg_id = $(p).find(".hBKL-PNO").val();
        var value1 = $('.CONFIRM-BKL-PNO').val();
        var lValue = value1.split(",");
        if (lValue.length > 1) {
            value1 = lValue[0];
        }
        $('#SELECT-BKL-DLG').modal('show');
        $('#BKL_DLG').modal('hide');
        $('.CONFIRM-BKL-PNO').val(value1 + ", " + fg_id);
        $('.CONFIRM-BKL-LOTNO').focus();
    });
    $('.confirm-select-Btn').click(function () {
        var SBPNO = $('.SB-PNO').val();
        var SBLOTNO = $('.SB-LOTNO').val();
        var MODEL_NO = $('.MODEL_ID').val();
        sbLabel.setSB(SBLOTNO, SBPNO);
        bklLabel.setSB(SBLOTNO, SBPNO);
        $('#SELECT-SB-DLG').modal('hide');
        $('.COPMODELB').html(MODEL_NO);
        $('.COPMODELA').html(MODEL_NO);
        $('.COPSBPNOA').html(SBPNO);
        $('.COPSBLOTA').html(SBLOTNO);
        $('.COPSBPNOB').html(SBPNO);
        $('.COPSBLOTB').html(SBLOTNO);
        $('#text-hSB-PNO').val(SBPNO);
        $('#text-hSB-LOTNO').val(SBLOTNO);
    });
    $('.bkl-confirm-select-Btn').click(function () {

        var PNO = $('.CONFIRM-BKL-PNO').val();
        var LOTNO = $('.CONFIRM-BKL-LOTNO').val();
        var PNO2 = $('.CONFIRM-BKL-PNO2').val();
        var LOTNO2 = $('.CONFIRM-BKL-LOTNO2').val();
        var res = PNO.split(",", 2);

        /*
        var MODEL_NO = $('.MODEL_ID').val();
        var options = { "backdrop": "static", keyboard: true };

        if (bklNo == 1
            && (sbLabel.getbkl1(LOTNO, PNO) || sbLabel.getbkl1(LOTNO, (res.length > 1 ? res[0] : PNO)))
            && LOTNO == $('.COPBKLLOTA').val()) {
            $('#SELECT-BKL-DLG').modal('hide');
            $('#lModalLabelError').html("Select Buckle ");
            $('#lModalBodyError').html("Cannot duplicate buckle/lotno (1) partno  : " + PNO);
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            $('#SAVEALL_DLG').modal('hide');

        } else if (bklNo == 2 && (sbLabel.getbkl2(LOTNO, PNO) || sbLabel.getbkl2(LOTNO, (res.length > 1 ? res[1] : PNO)))) {
            $('#SELECT-BKL-DLG').modal('hide');
            $('#lModalLabelError').html("Select Buckle ");
            $('#lModalBodyError').html("Cannot duplicate buckle/lotno (2) partno  : " + PNO);
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            $('#SAVEALL_DLG').modal('hide');
        }
        else {
            if (bklNo == 1) {
                sbLabel.setBKL1(LOTNO, (res.length > 1 ? res[0] : PNO));
                bklLabel.setBKL1(LOTNO, (res.length > 1 ? res[0] : PNO));
            }
            if (bklNo == 2) {
                sbLabel.setBKL2(LOTNO, (res.length > 1 ? res[1] : PNO));
                bklLabel.setBKL2(LOTNO, (res.length > 1 ? res[1] : PNO));
            }
            $('.COPMODELA').html(MODEL_NO);
            $('.COPMODELB').html(MODEL_NO);
            $('#SELECT-BKL-DLG').modal('hide');
            $('.COPBKLPNOA').html(PNO);
            $('.COPBKLLOTA').html(LOTNO);
            $('.COPBKLPNOB').html(PNO);
            $('.COPBKLLOTB').html(LOTNO);
            $('#text-hBKL-PNO').val(PNO);
            //getBklLots
            //$('#text-hBKL-LOTNO').val(LOTNO);
            $('#text-hBKL-LOTNO').val(sbLabel.getBklLots());
        }
        */
        if (typeof (sbLabel) != 'undefined') {
            sbLabel.setBKL1(LOTNO, PNO);
            bklLabel.setBKL1(LOTNO, PNO);
            sbLabel.setBKL2(LOTNO2, PNO2);
            bklLabel.setBKL2(LOTNO2, PNO2);
            $('#text-hBKL-PNO').val(PNO);
            $('#text-hBKL-LOTNO').val(LOTNO);
            $('#text-hBKL-PNO2').val(PNO2);
            $('#text-hBKL-LOTNO2').val(LOTNO2);
            $('#SAVEALL_DLG').modal('hide');
            $('#SELECT-BKL-DLG').modal('hide');
        }

    });


</script><!-- /Script For Select Bunkle -->
<script>
    function saveCOP() {
        var COPR_ID = $('#cOPR16_COPRUNNING_COPR_ID').val();
        var WRK_ID = $('#cOPR16_COPRUNNING_WRK_ID').val();
        var PROC_ID = $('#cOPR16_COPRUNNING_PROC_ID').val().substring(0, 2);
        var MODEL_ID = $('#cOPR16_COPRUNNING_MODEL_ID').val();
        var LINE_ID = $('#cOPR16_COPRUNNING_LINE_ID').val();
        var POSITION_ID = $('#cOPR16_COPRUNNING_POSITION_ID').val();
        var DESC = $('#cOPR16_COPRUNNING_DESC').val();
        var COP_STATUS = $('#cOPR16_COPRUNNING_COP_STATUS').val();
        var strSELECTDATE = $("#cOPR16_COPRUNNING_ADATE").val();
        var opdt = {};
        var dtdt = [];
        var jdata = {
            "__RequestVerificationToken" : $('input[name="__RequestVerificationToken"').val(),
            "COPR_ID": COPR_ID,
            "WRK_ID": WRK_ID,
            "PROC_ID": PROC_ID,
            "MODEL_ID": MODEL_ID,
            "POSITION_ID": POSITION_ID,
            "DESC": DESC,
            "COP_STATUS": COP_STATUS,
            "LINE_ID": LINE_ID,
            "SELECT_DATE": strSELECTDATE,
            "username": $("#UID").val(),
            "jsonString": [{}]
        };

        opdt = {
                "COPR_ID": COPR_ID,
                "FGTYPE_ID": "SEATBELT",
                "PNO": $('#text-hSB-PNO').val(),
                "LOTNO": $('#text-hSB-LOTNO').val(),
                "DESC": ""
        };
        jdata["jsonString"][0] = opdt;
        opdt = {
                "COPR_ID": COPR_ID,
                "FGTYPE_ID": "BUNKLE",
                "PNO": $('#text-hBKL-PNO').val(),
                "LOTNO": $('#text-hBKL-LOTNO').val(),
                "DESC": ""
        };
        console.log($('#text-hBKL-LOTNO').val());
        jdata["jsonString"][1] = opdt;

        console.log("jdata: ",jdata);

        var urlText = "@Url.Action("CreateCopAIDFromBeforePrint", "COPR16_COPRUNNING")";
        var options = { "backdrop": "static", keyboard: true };
        console.log();
        $.ajax({
            type: "POST",
            url: urlText,     //your action
            data: jdata,
            success: function (result) {
                console.log("result: ",result);

                var newCOPNO = result.Data;
                $("#cOPR16_COPRUNNING_COPR_ID").val(newCOPNO);
                $('.qr-code-dsp-a').html("");
                $('.qr-code-dsp-b').html("");
                var varText = $('#cOPR16_COPRUNNING_PROC_ID').val().substring(0, 2);
                var COP_FULL_DIGIT = newCOPNO;
                var COP_FULL_DIGIT_A = COP_FULL_DIGIT + "A";
                var COP_FULL_DIGIT_B = COP_FULL_DIGIT + "B";
                sbLabel.setCopno(COP_FULL_DIGIT);
                bklLabel.setCopno(COP_FULL_DIGIT);
                $('#cOPR16_COPRUNNING_COPR_ID').val(COP_FULL_DIGIT);
                $('.qr-code-dsp-a').qrcode({ width: 110, height: 110, text: COP_FULL_DIGIT_A });
                $('.qr-code-dsp-b').qrcode({ width: 110, height: 110, text: COP_FULL_DIGIT_B });
                $('.COPNOA').html(COP_FULL_DIGIT + "<u>A</u>");
                $('.COPNOB').html(COP_FULL_DIGIT + "<u>B</u>");
                if (flagSBPrint) {
                    print_SB();
                } else {
                    print_BLK();
                }
                setDisable();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("Create New COP RUNNING NUMBER");
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#lModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
            }
        })
        return false;
    }

    function clearValue() {
        $('#text-hSB-PNO').val("");
        $('#text-hSB-LOTNO').val("");
        $('#text-hBKL-PNO').val("");
        $('#text-hBKL-LOTNO').val("");
    }

    $('.createBtn').click(function () {
        var COPR_ID = $('#cOPR16_COPRUNNING_COPR_ID').val();
        var WRK_ID = $('#cOPR16_COPRUNNING_WRK_ID').val();
        var PROC_ID = $('#cOPR16_COPRUNNING_MODEL_ID').val();
        var MODEL_ID = $('#cOPR16_COPRUNNING_MODEL_ID').val();
        var POSITION_ID = $('#cOPR16_COPRUNNING_POSITION_ID').val();
        var LINE_ID = $('#cOPR16_COPRUNNING_LINE_ID').val();
        var DESC = $('#cOPR16_COPRUNNING_DESC').val();
        var COP_STATUS = $('#cOPR16_COPRUNNING_COP_STATUS').val();
        var selectDate = $("#cOPR16_COPRUNNING_ADATE").val();
        if (COPR_ID == "" || COPR_ID == "AID-01-00") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease enter COPNO for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        }
        if (typeof (MODEL_ID) == 'undefined') {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease enter MODEL for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        } else {
            if (MODEL_ID == "" || MODEL_ID == null) {
                var options = { "backdrop": "static", keyboard: true };
                $('#lModalLabelError').html("COP CREATE ERROR!!!!");
                $('#lModalBodyError').html("PLease enter MODEL for creating");
                $('#lModalError').modal('show');
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
                return false;
            }
        }
        //LINE_ID
        if (typeof (LINE_ID) == 'undefined') {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease enter LINENO for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        } else {
            if (LINE_ID == "" || LINE_ID == null) {
                var options = { "backdrop": "static", keyboard: true };
                $('#lModalLabelError').html("COP CREATE ERROR!!!!");
                $('#lModalBodyError').html("PLease enter LINENO for creating");
                $('#lModalError').modal('show');
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
                return false;
            }
        }
        if ($('#text-hSB-PNO').val() == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease select <b>Seat-Belt</b> Part NO for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        }
        if ($('#text-hBKL-PNO').val() == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease select <b>Buckle</b> Part NO for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        }
        /*
        var strLotDate = $("#cOPR16_COPRUNNING_ADATE").val();
        if (strLotDate == "") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease Select LOT Date from available list");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return;
        } else {
            $('#SAVEALL_DLG').modal("show");
        }
        */
        $('#SAVEALL_DLG').modal("show");
    });
    $('.NoSaveAllBtn').click(function () {
        $('#SAVEALL_DLG').modal('hide');
    });
    /*
    $('#cOPR16_COPRUNNING_WRK_ID').change(function() {
        //getWrkFlowProc();
    });
    */
    $('.YesSavedAllBtn').click(function () {
        var COPR_ID = $('#cOPR16_COPRUNNING_COPR_ID').val();
        var WRK_ID = $('#cOPR16_COPRUNNING_WRK_ID').val();
        var PROC_ID = $('#cOPR16_COPRUNNING_WRK_ID').val();
        var MODEL_ID = $('#cOPR16_COPRUNNING_MODEL_ID').val();
        var POSITION_ID = $('#cOPR16_COPRUNNING_POSITION_ID').val();
        var LINE_ID = $('#cOPR16_COPRUNNING_LINE_ID').val();
        var DESC = $('#cOPR16_COPRUNNING_DESC').val();
        var COP_STATUS = $('#cOPR16_COPRUNNING_COP_STATUS').val();
        var selectDate = $("#cOPR16_COPRUNNING_ADATE").val();
        if (COPR_ID == "" || COPR_ID == "AID-01-00") {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease enter COPNO for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        }
        if (typeof (MODEL_ID) == 'undefined') {
            var options = { "backdrop": "static", keyboard: true };
            $('#lModalLabelError').html("COP CREATE ERROR!!!!");
            $('#lModalBodyError').html("PLease enter MODEL for creating");
            $('#lModalError').modal('show');
            $('#lModalError').modal(options);
            $('#lModalError').modal('show');
            return false;
        } else {
            if (MODEL_ID == "" || MODEL_ID == null) {
                var options = { "backdrop": "static", keyboard: true };
                $('#lModalLabelError').html("COP CREATE ERROR!!!!");
                $('#lModalBodyError').html("PLease enter MODEL for creating");
                $('#lModalError').modal('show');
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
                return false;
            }
        }

        var opdt = {};
        var dtdt = [];
        var jdata = {
            "__RequestVerificationToken" : $('input[name="__RequestVerificationToken"').val(),
            "COPR_ID": COPR_ID,
            "WRK_ID": WRK_ID,
            "PROC_ID": PROC_ID,
            "MODEL_ID": MODEL_ID,
            "POSITION_ID": POSITION_ID,
            "DESC": DESC,
            "COP_STATUS": COP_STATUS,
            "LINE_ID": LINE_ID,
            "SELECT_DATE": selectDate,
            "username": $("#UID").val(),
            "jsonString": [{}]
        };

        opdt = {
                "COPR_ID": COPR_ID,
                "FGTYPE_ID": "SEATBELT",
                "PNO": $('#text-hSB-PNO').val(),
                "LOTNO": $('#text-hSB-LOTNO').val(),
                "DESC": ""
        };
        jdata["jsonString"][0] = opdt;
        opdt = {
                "COPR_ID": COPR_ID,
                "FGTYPE_ID": "BUNKLE",
                "PNO": $('#text-hBKL-PNO').val(),
                "LOTNO": $('#text-hBKL-LOTNO').val(),
                "DESC": ""
        };
        jdata["jsonString"][1] = opdt;
        if ($('#text-hBKL-PNO2').val() != "" ) {
            opdt = {
                "COPR_ID": COPR_ID,
                "FGTYPE_ID": "BUNKLE2",
                "PNO": $('#text-hBKL-PNO2').val(),
                "LOTNO": $('#text-hBKL-LOTNO2').val(),
                "DESC": ""
            };
            jdata["jsonString"][2] = opdt;
        }


        console.log("jdata:",jdata);
        var urlText = "@Url.Action("CreateCopAID", "COPR16_COPRUNNING")";
        var options = { "backdrop": "static", keyboard: true };
        console.log("form:",$('form'));
        
        $.ajax({
            type: "POST",
            url: urlText,     //your action
            data: jdata,
            success: function (result) {
                var DataReturn = result.Data;
                if (DataReturn == "0") {
                    $('#lModalLabelSuccess').html("Create New COP RUNNING NUMBER");
                    $('#lModalBodySuccess').html("Create New COP RUNNING NUMBER Successed");
                    $('#lModalSuccess').modal(options);
                    $('#lModalSuccess').modal('show');
                    $('#SAVEALL_DLG').modal('hide');
                } else {
                    $('#lModalLabelError').html("Create New COP RUNNING NUMBER");
                    $('#lModalBodyError').html(DataReturn);
                    $('#lModalError').modal(options);
                    $('#lModalError').modal('show');
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("Create New COP RUNNING NUMBER");
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#lModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
            }
        })
        
        return false;
    });
    $(".LOTLIST").click(function () {
        var modelStr = $(".MODEL_ID").val();
        var wrkidStr = $(".WRK_ID").val();
        var lineStr = $(".list_LINE_ID").val();
        var zoneStr = $(".list_POSITION_ID").val();
        $(".LOT_MODEL").val(modelStr);
        $(".LOT_LINE").val(lineStr);
        $(".LOT_ZONE").val(zoneStr);

        $('#SELECT-TRACIING-LOTDATE').modal('show');
        tbVarLot.clear().draw();
    });
    $(".lotlistclosebtn").click(function () {
        $('#SELECT-TRACIING-LOTDATE').modal('hide');
    });
    $(".lSuccesscloseBtn").click(function () {
        window.location.href = "@Url.Action("IndexAID","COPR16_COPRUNNING")";
        $("#lModalSuccess").modal("hide");
    });
    var sbLabel = $('.machine-sticker-a').COPR16newLabel({
        nameObjectLabel: "SB",
        copnoText: "11111111-11-00",
        modelText: "",
        lineText: "",
        posSymbo: "",
        posText: "",
        sbLotText: "",
        sbPartText: "",
        bkl1LotText: "",
        bkl2LotText: "",
        bkl1PartText: "",
        bkl2PartText: "",

    });
    var bklLabel = $('.machine-sticker-a').COPR16newLabel({
        nameObjectLabel: "BKL",
        copnoText: "11111111-11-00",
        modelText: "",
        lineText: "",
        posSymbo: "",
        posText: "",
        sbLotText: "",
        sbPartText: "",
        bkl1LotText: "",
        bkl2LotText: "",
        bkl1PartText: "",
        bkl2PartText: "",

    });
    $('.lot-refresh-btn').click(function () {
        var modelStr = $(".MODEL_ID").val();
        //var wrkidStr = $(".WRK_ID").val();
        var wrkidStr = $('#cOPR16_COPRUNNING_PROC_ID').val().substring(0, 2);
        var lineStr = $(".list_LINE_ID").val();
        var zoneStr = $(".list_POSITION_ID").val();

        var urlText = "@Url.Action("getLotDateAVAB_BYPOSID", "COPR16_COPRUNNING")";
        var options = { "backdrop": "static", keyboard: true };
        //string MODEL, string LINE, string POSID
        var jdata = {
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"').val(),
            "MODEL": modelStr,
            "LINE": lineStr,
            "POSID": zoneStr,
            "WRKID": wrkidStr
        }
        console.log(jdata);
        //console.log(".---.");
        $.ajax({
            type: "POST",
            url: urlText,     //your action
            //data: $('form').serialize(),   //your form name.it takes all the values of model
            //dataType: 'json',
            data: jdata,
            success: function (result) {
                console.log(result);
                //alert(result);
                //updateInfo(result);

                tbVarLot.clear().draw();

                $.each(result.Data, function (i, item) {
                    if (result.Data[i].fgtype_id == null || result.Data[i].fgtype_id == '') {
                        varMultipleBLK = false;
                    }else {
                        varMultipleBLK = true;
                    }

                    var selectBtn = "<a class='btn btn-primary button _select_lot'>SELECT</a>";

                    var row = tbVarLot.row.add([
                        result.Data[i].CNT_DATE2,
                        result.Data[i].CNT_ACCQTY,
                        result.Data[i].CNT_COP_TRIGGER + " x (" + result.Data[i].CNT_REMQTY + ")",
                        ""]).draw(false).node();
                    var hLOTDATE = $("<input type='hidden' value='" + result.Data[i].CNT_DATE + "' id='hLOTDATE' class='hLOTDATE'/>");
                    var hLOTDATE_STR = $("<input type='hidden' value='" + result.Data[i].CNT_DATE2 + "' id='hLOTDATE_STR' class='hLOTDATE_STR'/>");


                    $(row).find('td').eq(3).addClass('command');
                    $(row).find('td').eq(3).append(selectBtn);
                    $(row).find('td').eq(3).attr("style", "text-align:left  !important;");
                    $(row).find('td').eq(3).append(hLOTDATE);
                    $(row).find('td').eq(3).append(hLOTDATE_STR);
                });



            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("GET LOT DATE NUMBER");
                //$('#lModalBodyError').html("Cannot save data : " + errorThrown);
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#ModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);

                $('#ModalError').modal('show');
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
            }
        });
        return false;
    });
    $("body").on("click", "a._select_lot", function (ev) {
        bklNo = 2;
        var p = $(this).parent();
        var strDate = $(p).find(".hLOTDATE").val();
        var strDate2 = $(p).find(".hLOTDATE_STR").val();
        $("#cOPR16_COPRUNNING_ADATE").val(strDate2);
        $("#cOPR16_COPRUNNING_DESC").val("Create COP with manual at :" + strDate2);
        $('#SELECT-TRACIING-LOTDATE').modal('hide');
    });
    $(".YesSaved4print").click(function () {
        saveCOP();
        $("#SAVEALL_FOR_PRINT_DLG").modal("hide");
    });
    $(".NotoSave").click(function () {
        $("#SAVEALL_FOR_PRINT_DLG").modal("hide");
    });
    function setDisable() {
        $(".createBtn").attr("style", "display:none;");
        $(".LOTLIST").attr("style", "display:none;");
        $(".sbBtn").attr("style", "display:none;");
        $(".bklBtn").attr("style", "display:none;");
        $(".closed-btn").val("Close");
    }

    $(".closed-btn").click(function(){
        var urlLink = "/COPR16_COPRUNNING?Length=" + Math.random();
         window.location.href = urlLink;
    });
    getCopRunning();
    updatePosition();
    updateModel();
</script><!-- /Script For Save to database visa json -->
