@model CM_APPLICATIONS.Models.CopRunningModel

@{
    ViewBag.Title = "COP TENSILE REPORT";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var row = 0;
}
<style id="style_local">

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
</style>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 99% !important;
        margin-left: 0px !important;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
    .nowrap-td {
        white-space: nowrap;
    }
</style>
<h2>ECE R16 TENSILE Report</h2>

<p>
    @Html.ActionLink("UPLOADING SPC FILE (1)", "TensileUpload", "COPR16_COPRUNNING", new { @class = "btn btn-primary button" })

    @Html.ActionLink("UPLOADING PART LIST TEMPLATE FILE (3)", "PartListTemplateUpload", "COPR16_COPRUNNING", new { @class = "btn btn-primary button" })
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("UID", CM_APPLICATIONS.Models.AppPropModel.username)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("MODEL NO : ", htmlAttributes: new { @class = "control-label col-md-1", @style = "white-space:nowrap;" })
            <div class="col-md-10" style="display:flex;flex-wrap:nowrap">
                @Html.DropDownList("SPC_MODEL_LIST", Model.SPC_MODEL_LIST, null, new { @class = "form-control MODEL_ID" })
                @Html.Hidden("hidden_MODELNO", "")
            </div>
        </div>
        <div class="form-group">
            @Html.Label("YEAR : ", htmlAttributes: new { @class = "control-label col-md-1", @style = "white-space:nowrap;" })
            <div class="col-md-10" style="display:flex;flex-wrap:nowrap">
                @Html.DropDownList("SPC_YEAR", Model.SPC_YEAR, null, new { @class = "form-control YEAR_SEL" })
                @Html.Hidden("hidden_YEARSEL", "")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="button" value="ENABLE EDIT PARTS" class="btn btn-warning btnEditPart" />
                @*<input type="button" value="SAVE PARTS" class="btn btn-warning btnSavePart" />*@
                <input type="button" value="READ PART LIST FROM TEMPLATE (4)" class="btn btn-primary button readTemplateBtn" />
                <input type="button" value="READ SPC DATA (5)" class="btn btn-primary button refreshBtn" />
                <input type="button" value="EXPORT TO XLS (2,6)" class="btn btn-primary button exportBtn" />
            </div>
        </div>
    </div>
}


<div class="table_dsp" style="padding-right:25px !important;margin-right:25px !important;">
    <table class="table" border="0">
        <thead style="border-bottom:1px solid #000 !important">
            <tr style="border-bottom:1px solid #000 !important;">
                <th class="no-wrap-th" colspan="29" style="text-align:left !important;border-bottom:1px solid #000 !important;">
                    @Html.Label("Static strength", htmlAttributes: new { @class = "", @style = "white-space:nowrap;" })
                </th>
            </tr>
        </thead>
        <tbody style="border:1px solid #000">
            <tr style="border:1px solid #000 !important">
                <td rowspan="7" class="SEC-TITLE" style="white-space: nowrap !important;border: 1px solid #000 !important;vertical-align:middle;">
                    <div class="text" style="width:120px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">
                        Ret
                        2pcs / month
                    </div>
                </td>
                <td style="width: 80px !important; background-color: #DDEBF7; text-align: center; vertical-align: middle; border-right: 1px solid #DDEBF7 !important;" class=" tableexport-string">
                    <div class="text" style="font-weight:bold;text-align: center;vertical-align:middle;width:80px !important; ">
                        5
                    </div>
                </td>
                <td colspan="3" style="background-color:#DDEBF7;font-weight:bolder" class="Header_1-1"><b>Reractor static tensile</b></td>
                <td class="mth mth_01" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Jan</td>
                <td class="mth mth_02" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Feb</td>
                <td class="mth mth_03" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Mar</td>
                <td class="mth mth_04" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Apr</td>
                <td class="mth mth_05" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">May</td>
                <td class="mth mth_06" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Jun</td>
                <td class="mth mth_07" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Jul</td>
                <td class="mth mth_08" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Aug</td>
                <td class="mth mth_09" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Sep</td>
                <td class="mth mth_10" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Oct</td>
                <td class="mth mth_11" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Nov</td>
                <td class="mth mth_12" colspan="2" style="border: 1px solid #000 !important; background-color: #DDEBF7; font-weight: bolder; text-align: center;">Dec</td>
            </tr>
            @* Section 1 *@
            <tr>
                <td rowspan="3" class="table_sub_item" style="border:1px solid #000 !important; font-weight:lighter;text-align: center;vertical-align:middle;width:80px !important;white-space:nowrap !important">
                    <div class="text" style="text-align: center;vertical-align:middle;width:80px !important; ">
                        5-1
                    </div>
                </td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: lighter; text-align: center; vertical-align: middle; width: 450px !important; white-space: nowrap !important">W.O.S. : 450mm or W.O.S. 25%</td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: lighter; text-align: center; vertical-align: middle; width: 450px !important; white-space: nowrap !important">≥9.8kN (With D-ring) or ≥14.7kN (Without D-ring)</td>
                <td rowspan="2" style="color:blue;font-weight:lighter;text-align: center;vertical-align:bottom;border:1px solid #000 !important;">Lot.</td>
                <td class="sec51 mth-val mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val  mth_0102" style="border:1px solid #000 ;">&nbsp;</td>
                <td class="sec51 mth-val  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-val mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>

            </tr>
            <tr>
                @*<td style="border: 1px solid #000 !important; color: blue; font-weight: lighter; text-align: center; vertical-align: middle; white-space: nowrap !important">Lot.</td>*@
                <td class="sec51 mth-lot mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec51 mth-lot mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000 !important; color: blue; font-weight: lighter; text-align: center; vertical-align: middle; white-space: nowrap !important">Part No.</td>
                <td class="sec51 mth-part mth_0101" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part  mth_0102" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part  mth_0201" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part  mth_0202" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part  mth_0301" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part  mth_0302" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0401" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0402" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0501" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0502" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0601" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0602" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0701" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0702" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0801" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0802" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0901" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_0902" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_1001" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_1002" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_1101" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_1102" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_1201" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
                <td class="sec51 mth-part mth_1202" style="border:1px solid #000 !important;"><div class="text" style="width:80px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">&nbsp;</div></td>
            </tr>

            <tr style="border-top:2px solid #000">
                <td rowspan="3" class="table_sub_item tableexport-string" style="border: 1px solid #000 !important; font-weight: lighter; text-align: center; vertical-align: middle;">5-2</td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: lighter; text-align: center; vertical-align: middle;">W.O.S. : Full</td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: lighter; text-align: center; vertical-align: middle;">≥9.8kN (With D-ring) or ≥14.7kN (Without D-ring)</td>
                <td rowspan="2" style="color:blue;font-weight:lighter;text-align: center;vertical-align:bottom;border:1px solid #000 !important;">Lot.</td>
                <td class="sec52 mth-val mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-val mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>
            </tr>
            <tr>
                @*<td style="border: 1px solid #000 !important; color: blue; font-weight: lighter; text-align: center; vertical-align: middle;">Lot.</td>*@
                <td class="sec52 mth-lot mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-lot mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000 !important; color: blue; font-weight: lighter; text-align: center; vertical-align: middle;">Part No.</td>
                <td class="sec52 mth-part mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                <td class="sec52 mth-part mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>
            </tr>
            @* Section 2 *@
            <tr style="border-top:2px solid #000">
                <td rowspan="3" class="SEC-TITLE" style="white-space: nowrap !important;border: 1px solid #000 !important;vertical-align:middle;">
                    <div class="text" style="width:120px !important ;height:100%; white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">
                        Buckle assy
                        1pcs / month
                    </div>
                </td>
                <td rowspan="3" class="table_sub_item tableexport-string" style="border: 1px solid #000 !important; font-weight: bold; text-align: center; vertical-align: middle;">6</td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: bold; text-align: center; vertical-align: middle;">
                    <div class="text" style=" font-weight: bold; width: 320px !important; white-space: pre-line !important; background-color: #fff; text-align: center; vertical-align: middle;">
                        Buckle static tensile
                    </div>
                </td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: bold; text-align: center; vertical-align: middle;">
                    <div class="text" style=" font-weight: bold; width: 380px !important; white-space: pre-line !important; background-color: #fff; text-align: center; vertical-align: middle;">
                        ≥9.8kN (Webbing buckle) or ≥14.7kN (Steel buckle)
                    </div>
                </td>
                <td rowspan="2" style="color:blue;font-weight:lighter;text-align: center;vertical-align:bottom;border:1px solid #000 !important;">Lot.</td>
                <td colspan="2" class="sec6 mth-val mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-val mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec6 mth-val mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>*@

            </tr>
            <tr class="row_VSILOCKING_90DEG">
                @*<td style="border: 1px solid #000 !important; color: blue; font-weight: lighter; text-align: center; vertical-align: middle;">Lot.</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-lot  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-lot mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-lot mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>*@
            </tr>
            <tr class="row_VSILOCKING_180DEG">
                <td style="border: 1px solid #000 !important; color: blue; font-weight: lighter; text-align: center; vertical-align: middle;">Part No.</td>
                <td colspan="2" class="sec6 mth-part mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec6 mth-part mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>*@
            </tr>
            @* Section 3 *@
            <tr style="border-top:2px solid #000">
                <td rowspan="3" class="SEC-TITLE" style="white-space: nowrap !important;border: 1px solid #000 !important;vertical-align:middle;">
                    <div class="text" style="white-space:pre-line !important;background-color:#fff;font-weight:bold;text-align: center;vertical-align:middle;">
                        Anchor sewing
                        1pcs / month
                    </div>
                </td>
                <td rowspan="3" class="table_sub_item tableexport-string" style="width: 80px !important; border: 1px solid #000 !important; font-weight: bold; text-align: center; vertical-align: middle;">
                    <div class="text" style="text-align: center;vertical-align:middle;width:80px !important; ">
                        7
                    </div>
                </td>
                <td rowspan="3" class="table_sub_item" style="border: 1px solid #000 !important; font-weight: bold; text-align: center; vertical-align: middle;">Anchor sewing tensile</td>
                <td rowspan="3" class="table_sub_item" style="font-weight:bold;text-align: center;vertical-align:middle;border:1px solid #000 !important;">≥14.7kN (Webbing sewing with anchor plate)</td>
                <td rowspan="2" style="color:blue;font-weight:lighter;text-align: center;vertical-align:bottom;border:1px solid #000 !important;">Lot.</td>
                <td colspan="2" class="sec7 mth-val mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-val mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-val mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-val mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec6 mth-val mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>*@

            </tr>
            <tr class="row_VSILOCKING_90DEG">
                @*<td style="color:blue;font-weight:lighter;text-align: center;vertical-align:middle;border:1px solid #000 !important;">Lot.</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-lot  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                @* <td class="sec7 mth-lot mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-lot mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-lot mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>*@
            </tr>
            <tr style="border-bottom:2px solid #000">
                <td style="color:blue;font-weight:lighter;text-align: center;vertical-align:middle;border:1px solid #000 !important;">Part No.</td>
                <td colspan="2" class="sec7 mth-part mth_0101" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part  mth_0102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part  mth_0201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part  mth_0202" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part  mth_0301" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part  mth_0302" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_0401" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0402" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_0501" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0502" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_0601" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0602" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_0701" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0702" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_0801" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0802" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_0901" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_0902" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_1001" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_1002" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_1101" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_1102" style="border:1px solid #000 !important;">&nbsp;</td>*@
                <td colspan="2" class="sec7 mth-part mth_1201" style="border:1px solid #000 !important;">&nbsp;</td>
                @*<td class="sec7 mth-part mth_1202" style="border:1px solid #000 !important;">&nbsp;</td>*@
            </tr>

        </tbody>
    </table>

</div>
<div class="modal fade" id="lModalSuccess" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelSuccess">Success</h4>
            </div>
            <div class="modal-body">
                <h4 id="lModalBodySuccess"></h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lSuccesscloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Successful-->

<div class="modal fade" id="lModalError" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelError">Error</h4>
            </div>
            <div class="modal-body">
                <h4 id="lModalBodyError"></h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lerrcloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Error -->

<div class="modal fade" id="lModalPartsList" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelSuccess">SPC Result Parts List....</h4>
            </div>
            <div class="modal-body">
                <h4 id="lb1" class="lb1" style="text-align:left;"> </h4>
                <table>
                    <tr>
                        <th>Year:</th>
                        <th><input type="text" class="popupYearVal" value="" disabled readonly></th>
                    </tr>
                    <tr>
                        <th>Month:</th>
                        <th><input type="text" class="popupMonthVal" value="" disabled readonly></th>
                    </tr>
                    <tr>
                        <th>Model:</th>
                        <th><input type="text" class="popupModelVal" value="" disabled readonly></th>
                    </tr>

                </table>

                <br />
                <table width="100%" class="table w3-striped part-list">
                    <thead >
                        <tr>
                            <th>PART NO.</th>
                            <th>DATE</th>
                            <th>LOT</th>
                            <th>VALUE</th>
                            <th>SELECT</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lSuccesscloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Successful-->
<script>
    var table_original;
    function updateSPCData(DATA) {
        var sec51Var = DATA.SEC51;
        var sec52Var = DATA.SEC52;
        var sec6Var = DATA.SEC6;
        var sec7Var = DATA.SEC7;

        $.each(sec51Var, function (i,k) {
            var LOT_elmt_name = ".sec51.mth-lot.mth_" + k["MONTH"] + pad(k["POS"], 2);
            var VAL_elmt_name = ".sec51.mth-val.mth_" + k["MONTH"] + pad(k["POS"], 2);
            //console.log(LOT_elmt_name);
            $(LOT_elmt_name).html('');
            $(VAL_elmt_name).html('');
            var valDigit = Number(k["VAL"]).toFixed(2);

            var textValue = valDigit + ' kN';
            var textLot = k["LOT"];
            if (valDigit == 0.00) textValue = '&nbsp;';
            if (k["LOT"] == "null" || k["LOT"] == null) textLot = '&nbsp;';

            var divLot = '<div class="text" style="width: 80px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + '\u200C' +textLot + '</div>';
            var divVal = '<div class="text" style="width: 80px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + textValue + '</div>';
            $(LOT_elmt_name).append(divLot);
            $(VAL_elmt_name).append(divVal);
        });
        $.each(sec52Var, function (i, k) {
            var LOT_elmt_name = ".sec52.mth-lot.mth_" + k["MONTH"] + pad(k["POS"], 2);
            var VAL_elmt_name = ".sec52.mth-val.mth_" + k["MONTH"] + pad(k["POS"], 2);
            //console.log(LOT_elmt_name);
            $(LOT_elmt_name).html('');
            $(VAL_elmt_name).html('');
            var valDigit = Number(k["VAL"]).toFixed(2);

            var textValue = valDigit + ' kN';
            var textLot = k["LOT"];
            if (valDigit == 0.00) textValue = '&nbsp;';
            if (k["LOT"] == "null" || k["LOT"] == null) textLot = '&nbsp;';
            var divLot = '<div class="text" style="width: 80px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + '\u200C' + textLot + '</div>';
            var divVal = '<div class="text" style="width: 80px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + textValue + '</div>';
            $(LOT_elmt_name).append(divLot);
            $(VAL_elmt_name).append(divVal);
        });
        $.each(sec6Var, function (i, k) {
            var LOT_elmt_name = ".sec6.mth-lot.mth_" + k["MONTH"] + pad(k["POS"], 2);
            var VAL_elmt_name = ".sec6.mth-val.mth_" + k["MONTH"] + pad(k["POS"], 2);
            //console.log(LOT_elmt_name);
            $(LOT_elmt_name).html('');
            $(VAL_elmt_name).html('');
            var valDigit = Number(k["VAL"]).toFixed(2);
            var textValue = valDigit + ' kN';
            var textLot = k["LOT"];
            if (valDigit == 0.00) textValue = '&nbsp;';
            if (k["LOT"] == "null" || k["LOT"] == null) textLot = '&nbsp;';
            var divLot = '<div class="text" style="width: 160px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + '\u200C' +textLot + '</div>';
            var divVal = '<div class="text" style="width: 160px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + textValue + '</div>';
            $(LOT_elmt_name).append(divLot);
            $(VAL_elmt_name).append(divVal);
        });
        $.each(sec7Var, function (i, k) {
            var LOT_elmt_name = ".sec7.mth-lot.mth_" + k["MONTH"] + pad(k["POS"], 2);
            var VAL_elmt_name = ".sec7.mth-val.mth_" + k["MONTH"] + pad(k["POS"], 2);
            //console.log(LOT_elmt_name);
            $(LOT_elmt_name).html('');
            $(VAL_elmt_name).html('');
            var valDigit = Number(k["VAL"]).toFixed(2);
            var textValue = valDigit + ' kN';
            var textLot = k["LOT"];
            if (valDigit == 0.00) textValue = '&nbsp;';
            if (k["LOT"] == "null" || k["LOT"] == null) textLot = '&nbsp;';
            var divLot = '<div class="text" style="width: 160px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + '\u200C' +textLot + '</div>';
            var divVal = '<div class="text" style="width: 160px!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + textValue + '</div>';
            $(LOT_elmt_name).append(divLot);
            $(VAL_elmt_name).append(divVal);
        });
    }
    $('.refreshBtn').click(function(){
        //alert("test");
        //getCopData();
        if (isNoPart) {
            $('#lModalLabelError').html("Reading SPC TEMPLATE FILE Error");
            $('#lModalBodyError').html("Please loading <b>Part No.</b> from template before load SPC data.");
            $('#lModalError').modal("show");
            return;
        }
        console.log(sec51Data);
        console.log(sec52Data);
        console.log(sec6Data);
        console.log(sec7Data);
        var MODEL_ID = $('.MODEL_ID').val();

        var YesrStr = $('.YEAR_SEL').val();
        var jdata = {
            "__RequestVerificationToken" : $('input[name="__RequestVerificationToken"').val(),
            "ModelID": MODEL_ID,
            "SEC51": sec51Data,
            "SEC52": sec52Data,
            "SEC6": sec6Data,
            "SEC7": sec7Data,
            "YEAR": YesrStr
        };

        console.log(jdata);
        var urlText = "@Url.Action("getSPCDATA", "COPR16_COPRUNNING")";
        $.ajax({
            type: "POST",
            url: urlText,
            data: jdata,
            success: function (result) {
                console.log(result);
                //updateDataStep1(result.Data);
                //updateRowWithColCount();
                console.log(result.Data);
                //updatePart(result.Data);
                updateSPCData(result.Data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("Reading SPC TEMPLATE FILE Error");
                //$('#lModalBodyError').html("Cannot save data : " + errorThrown);
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                var cmmt = obj.filter('font')[0];
                console.log(title);
                $('#lModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML + cmmt.innerHTML);
                $('#lModalError').modal("show");
            }
        })
        return false;
    })
    function getCopData() {
        var MODEL_ID = $('.MODEL_ID').val();
        var fromDATE = $('.from-date').val();
        var toDATE = $('.to-date').val();
        var jdata = {
            "__RequestVerificationToken" : $('input[name="__RequestVerificationToken"').val(),
            "ModelID": MODEL_ID,
            "fromDate":fromDATE,
            "toDate":toDATE
        };

        console.log(jdata);
        var urlText = "@Url.Action("getFinalReport","COPR16_COPRUNNING")";
        $.ajax({
            type: "POST",
            url: urlText,
            data: jdata,
            success: function (result) {
                console.log(result);
                updateDataStep1(result.Data);
                updateRowWithColCount();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            }
        })
        return false;
    }
    function updateResult() {
        var header1 = "<th class=\"no-wrap - th textCol\" > Result</th>";
        $('.Header1_result').append(header1);
    }

    table_original = $('.data-step').clone();
    $('.exportBtn').click(function () {
        //alert("ok");
        exportToExcel();
        //fnExcelReport();
    });

    function fnExcelReport()
    {
        var tab_text=$('.table_dsp').html();
        var textRange;
        var j = 0;


        //tab_text=tab_text+"</table>";
        tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
        tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else {
            sa = window.open('data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,' + encodeURIComponent(tab_text));
        }
        return (sa);
    }

    function exportToExcel() {
        var style_sheet = $('#style_local').html();
        var htmls = "";
                var uri = 'data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=UTF-8;base64,';
                var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><style>{stylesheet}</style></head><body><table>{table}</table></body></html>';
                var base64 = function(s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                };

                var format = function(s, c) {
                    return s.replace(/{(\w+)}/g, function(m, p) {
                        return c[p];
                    })
                };
        console.log(style_sheet);
        htmls = $('.table_dsp').html().replace(/1\-1/g,'\u200C' + '1-1');
        htmls = htmls.replace(/5\-1/g, '\u200C' + '5-1');
        htmls = htmls.replace(/5\-2/g, '\u200C' + '5-2');
        var ctx = {
            worksheet: "TENSILE_REPORT_" + $('.YEAR_SEL').val() + "_" + $('.MODEL_ID').val(),
                stylesheet: style_sheet,
                table: htmls
        }
        console.log(format(template, ctx));
        var link = document.createElement("a");
        link.download = "TENSILE_REPORT_" + $('.YEAR_SEL').val() + "_" + $('.MODEL_ID').val()+ ".xls";
        link.href = uri + base64(format(template, ctx));
        link.click();
    }
    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }
    function updateYear() {
        console.log("TESTSSTSTST");
        var yearVal = $('.YEAR_SEL').val();
        console.log(yearVal);
        if (typeof (yearVal) != undefined) {
            for(var i = 0; i <= 12; i++) {
                var objName = 'td.mth_' + pad(i,2);
                var text1 = $(objName).html();
                text1 = text1 + "'" + yearVal.substr(2, 2);
                $(objName).html(text1);
            }
        } else {
            console.log(yearVal);
        }
    }
    var sec51Data = [];
    var sec52Data = [];
    var sec6Data = [];
    var sec7Data = [];

    var tensileData = {
        "PART": "",
        "LOT": "",
        "VAL": "",
        "POS": ""
    }
    function updatePart(Data) {
        sec51Data = [];
        sec52Data = [];
        sec6Data = [];
        sec7Data = [];
        $.each(Data, function (i, k) {
            //console.log(i, k);
            var row = k;

            var objName1 = row["classNamePart"];
            var objName2 = row["classNameValue"];
            var objName3 = row["classNameLot"];
            var divPart = '<div class="text" style="width: 100%!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">' + row["TRPT_PART"] + '</div>';
            var divBlank = '<div class="text" style="width: 100%!important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">&nbsp;</div>';
            $(objName1).html('');
            $(objName2).html('');
            $(objName3).html('');
            $(objName1).append(divPart);
            $(objName2).append(divBlank);
            $(objName3).append(divBlank);


            if (row["TRPT_SEC"] == "51") {
                var data1 = {
                    "PART": row["TRPT_PART"] ,
                    "LOT": row["TRPT_LOT"],
                    "VAL": row["TRPT_VALUE"],
                    "POS": row["TRPT_POS"],
                    "MONTH": pad(row["TRPT_MONTH"], 2)
                }
                sec51Data.push(data1);
            }
            if (row["TRPT_SEC"] == "52") {
                var data1 = {
                    "PART": row["TRPT_PART"],
                    "LOT": row["TRPT_LOT"],
                    "VAL": row["TRPT_VALUE"],
                    "POS": row["TRPT_POS"],
                    "MONTH": pad(row["TRPT_MONTH"], 2)
                }
                sec52Data.push(data1);
            }
            if (row["TRPT_SEC"] == "6") {
                var data1 = {
                    "PART": row["TRPT_PART"],
                    "LOT": row["TRPT_LOT"],
                    "VAL": row["TRPT_VALUE"],
                    "POS": row["TRPT_POS"],
                    "MONTH": pad(row["TRPT_MONTH"], 2)
                }
                sec6Data.push(data1);
            }
            if (row["TRPT_SEC"] == "7") {
                var data1 = {
                    "PART": row["TRPT_PART"],
                    "LOT": row["TRPT_LOT"],
                    "VAL": row["TRPT_VALUE"],
                    "POS": row["TRPT_POS"],
                    "MONTH": pad(row["TRPT_MONTH"], 2)
                }
                sec7Data.push(data1);
            }
            isNoPart = false;
        });
        /*
        console.log(sec51Data);
        console.log(sec52Data);
        console.log(sec7Data);
        console.log(sec6Data);
        */
    }
    $('.readTemplateBtn').click(function () {
        var MODEL_ID = $('.MODEL_ID').val();
        var YEAR = $('.YEAR_SEL').val();
        var USERNAME = $('#UID').val();
        var jdata = {
            "__RequestVerificationToken" : $('input[name="__RequestVerificationToken"').val(),
            "ModelID": MODEL_ID,
            "YEAR": YEAR,
            "USERNAME": USERNAME
        };
        clearScreen();
        console.log(jdata);
        var urlText = "@Url.Action("getPartListTNS", "COPR16_COPRUNNING")";
        $.ajax({
            type: "POST",
            url: urlText,
            data: jdata,
            success: function (result) {
                console.log(result);
                //updateDataStep1(result.Data);
                //updateRowWithColCount();
                //console.log(result.Data);
                updatePart(result.Data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("Reading SPC TEMPLATE FILE Error");
                //$('#lModalBodyError').html("Cannot save data : " + errorThrown);
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                var cmmt = obj.filter('font')[0];
                console.log(title);
                $('#lModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML + cmmt.innerHTML);
                $('#lModalError').modal("show");
            }
        })
        return false;
    });
    updateYear();
    function clearScreen() {
        isNoPart = true;
        for (var month = 1; month <= 12; month++) {
            //sec51 mth-part  mth_0102

            var ClassName1 = '.sec51.mth-part.mth_' + pad(month, 2) + '01';
            var ClassName2 = '.sec51.mth-part.mth_' + pad(month, 2) + '02';
            var ClassName3 = '.sec51.mth-lot.mth_' + pad(month, 2) + '01';
            var ClassName4 = '.sec51.mth-lot.mth_' + pad(month, 2) + '02';
            var ClassName5 = '.sec51.mth-val.mth_' + pad(month, 2) + '01';
            var ClassName6 = '.sec51.mth-val.mth_' + pad(month, 2) + '02';
            setBlank(ClassName1);
            setBlank(ClassName2);
            setBlank(ClassName3);
            setBlank(ClassName4);
            setBlank(ClassName5);
            setBlank(ClassName6);

            var ClassName7 = '.sec52.mth-part.mth_' + pad(month, 2) + '01';
            var ClassName8 = '.sec52.mth-part.mth_' + pad(month, 2) + '02';
            var ClassName9 = '.sec52.mth-lot.mth_' + pad(month, 2) + '01';
            var ClassName10 = '.sec52.mth-lot.mth_' + pad(month, 2) + '02';
            var ClassName11 = '.sec52.mth-val.mth_' + pad(month, 2) + '01';
            var ClassName12 = '.sec52.mth-val.mth_' + pad(month, 2) + '02';
            setBlank(ClassName7);
            setBlank(ClassName8);
            setBlank(ClassName9);
            setBlank(ClassName10);
            setBlank(ClassName11);
            setBlank(ClassName12);

            var ClassName13 = '.sec6.mth-part.mth_' + pad(month, 2) + '01';
            var ClassName14 = '.sec6.mth-lot.mth_' + pad(month, 2) + '01';
            var ClassName15 = '.sec6.mth-val.mth_' + pad(month, 2) + '01';
            setBlank(ClassName13);
            setBlank(ClassName14);
            setBlank(ClassName15);

            var ClassName16 = '.sec7.mth-part.mth_' + pad(month, 2) + '01';
            var ClassName17 = '.sec7.mth-lot.mth_' + pad(month, 2) + '01';
            var ClassName18 = '.sec7.mth-val.mth_' + pad(month, 2) + '01';
            setBlank(ClassName16);
            setBlank(ClassName17);
            setBlank(ClassName18);

        }
        $('.btnClickToList').remove();
        $('.btnEditPart').val('ENABLE EDIT PARTS');
        editFlag = false;
        showBtn();
    }
    var editFlag = false;
    var isNoPart= true;
    function setBlank(objName) {
        var divBlank = '<div class="text" style="width: 80px !important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">&nbsp;</div>';
        $(objName).html('');
        $(objName).append(divBlank);
    }
    $('.MODEL_ID').change(function(){
        clearScreen();
    });

    $('.btnEditPart').click(function () {
        if (editFlag) {
            $('.btnClickToList').remove();
            $('.btnEditPart').val('ENABLE EDIT PARTS');
            editFlag = false;
            showBtn();
        } else {
            var btnEdit = "<input type='button' name='editBtn' id='editBtn' class='btn btn-primary btnClickToList' value='...' style='width:10px;height:10px;'>";
            $('.mth-part').append(btnEdit);
            $('.btnEditPart').val('DISABLE EDIT PARTS');
            hideBtn();
            editFlag = true;
        }

    });
    $('.btnSavePart').click(function () {
        if (editFlag) {
            $('.btnClickToList').remove();
            $('.btnEditPart').val('ENABLE EDIT PARTS');
            editFlag = false;
        }
    });
    $('.btnClickToList').click(function () {
        $('#lModalPartsList').modal('show');
    });
    function getOldStyle(obj) {
        return $(obj).attr("style");
    }
    //itemSelect
    var origHtml = '<div class="text" style="width: 80px !important; height: 100 %; white-space: pre-line!important; background-color:#fff;  text-align: center; vertical-align: middle;">&nbsp;</div><input type="button" name="editBtn" id="editBtn" class="btn btn-primary btnClickToList" value="..." style="width:10px;height:10px;">';
    var callObject = null;
    $("body").on("click", '.itemSelect', function (env) {
        var parentObject = $(this).parent().parent();
        //console.log(parentObject);
        var tdData = parentObject.find('td');
        console.log(tdData);
        var valPart = $(tdData[0]).text(); 
        var valData= $(tdData[1]).text();
        var valLot = $(tdData[2]).text();
        var valVal= $(tdData[3]).text();
        var html = $(callObject).html();
        var classes = $(callObject).attr("class").split(/\s+/);
        $(callObject).html(origHtml);
        var divDummy = $(callObject).find('div');
        if (typeof (divDummy) != "undefined") {
            $(divDummy).remove();
        }
        var strClasslot = '.' + classes[0] + '.mth-lot' + '.' + classes[2];
        var strClassValue= '.' + classes[0] + '.mth-val' + '.' + classes[2];

        $(strClasslot).html('\u200C' + valLot);
        $(strClasslot).attr("style", getOldStyle(strClasslot) + ";text-align:center");

        $(strClassValue).html(parseFloat( valVal).toFixed(2) + ' kN');
        $(strClassValue).attr("style", getOldStyle(strClassValue) + ";text-align:center;");
        $(strClassValue).attr('nowrap','nowrap');

       
        $(callObject).append(valPart);
        $(callObject).attr("style", getOldStyle(callObject) + ";text-align:center");

        console.log(html);
        $('#lModalPartsList').modal('hide');
    });

    $("body").on("click", '.btnClickToList', function (env) {
        var parentObj = $(this).parent();
        callObject = parentObj;
        var classList = $(parentObj).attr("class");
        //.split(/\s+/);
        var classLists = $(parentObj).attr("class").split(/\s+/);
        var modelValue = $('.MODEL_ID').val();
        var yearValue = $('.YEAR_SEL').val();
        var monthValue = classLists[2];
        var realMonth = GetMonthName(parseInt(monthValue.replace('mth_', '').substr(0,2)));
        console.log("modelValue: ", modelValue);
        var sectionString = '';
        switch (classLists[0]) {
            case 'sec51':
                sectionString = '5-1 W.O.S. : 450mm or W.O.S. 25% <br> ≥9.8kN (With D-ring) or ≥14.7kN (Without D-ring)';
                break;
            case 'sec52':
                sectionString = '5-2 W.O.S. : Full <br> ≥9.8kN (With D-ring) or ≥14.7kN (Without D-ring)';
                break;
            case 'sec6':
                sectionString = '6 Buckle static tensile<br>  ≥9.8kN (Webbing buckle) or ≥14.7kN (Steel buckle)';
                break;
            case 'sec7':
                sectionString = '7 Anchor sewing tensile <br> ≥14.7kN (Webbing sewing with anchor plate)';
                break;
        }

        if (modelValue.replace(' ', '') == '') {
            $('#lModalBodyError').html('Please selecting model first!!!! ');
            $('#lModalError').modal('show');
            return;
        }
        GetSPC_PARTS(modelValue, yearValue, monthValue.replace('mth_', '').substr(0, 2), classLists[0].replace('sec',''));
        $('.popupYearVal').val(yearValue);
        $('.popupMonthVal').val(realMonth);
        $('.popupModelVal').val(modelValue);

        $('.lb1').html(sectionString);
        $('#lModalPartsList').modal('show');
    });
    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }

    function GetSPC_PARTS(modelVal, yearVal, monthVal, secVal) {
        var urlText = "@Url.Action("SPC_PARTS_LIST", "COPR16_COPRUNNING")";
        var jdata = {
            "MODEL": modelVal,
            "YEAR": yearVal,
            "MONTH": monthVal,
            "SEC": secVal
        }
        console.log(jdata);
        $.ajax({
            type: "POST",
            url: urlText,     //your action

            dataType: 'json',
            data: jdata,
            success: function (result) {
                console.log(result);
                var arrayData = new Array();
                $.each(result.Data, function (iKey,iVal) {
                    //console.log('iKey', iKey);
                    //console.log('iVal', iVal);
                    /**
                     * SPCC_PART,
                        SPCC_DATE,
                        SPCC_LOT,
                        SPCC_VALUE1,
                        MODLE_ID
                     * */
                    var row = new Array();
                    row.push(iVal['SPCC_PART'].substr(0,7));
                    row.push(iVal['SPCC_DATE']);
                    row.push(iVal['SPCC_LOT']);
                    row.push(iVal['SPCC_VALUE1']);
                    row.push('<input type="button" name="selecting" id="selecting" class="itemSelect" value="SELECT">');
                    arrayData.push(row);
                });
                console.log(arrayData);
                console.log(partTb);
                if (partTb != null) {
                    var dt1 = $.fn.dataTable.tables()[0];
                    $(dt1).DataTable().destroy();
                   
                }
                //nowrap-td
                partTb = $('.part-list').dataTable({
                    data: arrayData,
                    destroy: true,
                    columnDefs: [{ targets: [1], class: "nowrap-td" }]
                });
                /*
                 * console.log(partTb);
                if (partTb != null) {
                    partTb.destroy();
                    $('.part-list').empty();
                }
                partTb = $('.part-list').dataTable({
                    data:arrayData
                });
                */
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("GET PART FROM SPC DATA");
                //$('#lModalBodyError').html("Cannot save data : " + errorThrown);
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#ModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);

                $('#ModalError').modal('show');
                $('#lModalError').modal(options);
                $('#lModalError').modal('show');
            }
        });
    }
    var partTb = $('.part-list').dataTable({ destroy: true });
    function hideBtn() {
        $('.readTemplateBtn').hide();
        $('.refreshBtn').hide();
    }
    function showBtn() {
        $('.readTemplateBtn').show();
        $('.refreshBtn').show();
    }

</script>
