@*@model CM_APPLICATIONS.COPR16_FILE_IMPORT*@
@model CM_APPLICATIONS.Models.ImportModels
@{
    ViewBag.Title = "MODEL UPLOADING";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-uniq {
        font-weight: bold !important;
    }

    .file-info {
        display: none;
    }
</style>
<style>
    .dataTables_wrapper {
        float: left !important;
        width: 75% !important;
        margin-left: 0px !important;
    }

    table.dataTable thead tr {
        background-color: #005495;
        color: #fff;
    }

    table.dataTable {
        margin-left: 0px !important;
        width: 100% !important;
    }
    .modal-header {
        background-color: #005495 !important;
        color: #ffffff !important;
    }

    td.command {
        flex-flow: nowrap;
        flex-wrap: nowrap;
        white-space: nowrap !important;
    }

    th.command {
        flex-flow: nowrap;
        flex-wrap: nowrap;
        white-space: nowrap !important;
    }

    .text-center {
        text-align: center;
    }
</style>
<h2>MODELS UPLOADING</h2>

@using (Html.BeginForm("UploadingModel", "COPR16_FILE_IMPORT", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "main-form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("UID", CM_APPLICATIONS.Models.AppPropModel.username)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("DATE : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fsDATE", new { htmlAttributes = new { @class = "form-control form-date", @readonly = "true" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.Label("FILE NAME : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="display:flex;flex-wrap:nowrap">
                @Html.Editor("fsFILENAME", new { htmlAttributes = new { @class = "form-control form-file-name", @readonly = "true" } })
                <input class="form-file-input" id="FSIM_NAME" name="FSIM_NAME" type="file" value="" accept=".xlsx, .xls, .csv" style="position:relative;top:0px;">
            </div>
        </div>

        <div class="form-group file-info">

            @Html.Label("FILE EXT. : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fsFILEEXT", new { htmlAttributes = new { @class = "form-control form-file-type", @readonly = "true" } })
            </div>

            @Html.Label("FILE SIZE : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fsFILESIZE", new { htmlAttributes = new { @class = "form-control form-file-size", @readonly = "true" } })
            </div>



            @Html.Label("FILE FORMAT : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("fsFILEFORMAT", new { @class = "form-control form-file-format", @readonly = "true", @rows = "5" })
            </div>

        </div>


        <div class="form-group">
            @Html.Label("FILE IMPORT BY : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("fsFILEBY", new { htmlAttributes = new { @class = "form-control form-username", @readonly = "true" } })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="UPLOAD FILE" class="btn btn-primary button uploadBtn" />
                <input type="button" value="CONFIRM TO SAVE" class="btn btn-primary button confirmBtn" />
                
            </div>
        </div>
        <div class="form-group">
            <div class="details" style="padding-left: 15px;">


                <table class="table stripe option-list data-step">
                    <thead>
                        <tr>
                            <th>
                                MODEL
                            </th>
                            <th>
                                LINE
                            </th>
                            <th >
                                POSITION
                            </th>
                            <th >
                                FG NO (SB)
                            </th>
                            <th >
                                FG NO (BUCKLE1)
                            </th>
                            <th >
                                FG NO (BUCKLE2)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td >
                            </td>
                            <td>
                            </td>

                            <td style="text-align:center !important;">
                            </td>
                            <td style="text-align:center !important;">
                            </td>
                            <td style="text-align:center !important;">
                            </td>
                            <td style="text-align:center !important;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="form-horizontal details">
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Back to Matching Parts List", "MatchingParts", "COPR16_ITEMS_MSTR", new { id = 0 }, new { @class = "btn btn-primary button" })@Html.ActionLink("Reset", "importModel", "COPR16_FILE_IMPORT", new { id = ((Random)new Random()).Next().ToString() }, new { @class = "btn btn-warning button" })
</div>

<div class="modal fade" id="lModalSuccess" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelSuccess">Success</h4>
            </div>
            <div class="modal-body">
                <h4 id="lModalBodySuccess"></h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lSuccesscloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Successful-->

<div class="modal fade" id="lModalError" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="loading">
                <div class="spinner"></div>
            </div>
            <div class="modal-header">
                <h4 class="header modal-title" id="lModalLabelError">Error</h4>
            </div>
            <div class="modal-body">
                <h4 id="lModalBodyError"></h4>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="w3-button w3-indigo pull-right lerrcloseBtn" data-dismiss="modal">Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal Error -->

<div class="modal fade" id="CONFIRMED_DLG" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">PLEASE CONFIRM </h4>
            </div>
            <div class="modal-body" id="CONFIRMED_BODY">
                <H4 id="CONFIRMED_ASK"></H4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary button YesConfirmedBtn">YES</a>
                <a class="btn btn-secondary button NoConfirmedBtn">NO</a>
            </div>

        </div>
    </div>
</div><!-- / Modal Confirm Remove -->

<div class="modal fade" id="CONFIRMED_DLG2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitle">PLEASE CONFIRM </h4>
            </div>
            <div class="modal-body" id="CONFIRMED_BODY2">
                <H4 id="CONFIRMED_ASK2"></H4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary button YesConfirmedBtn2">YES</a>
                <a class="btn btn-secondary button NoConfirmedBtn2">NO</a>
            </div>

        </div>
    </div>
</div><!-- / Modal Confirm Remove -->

<script>
    $('.lSuccesscloseBtn').click(function(){
        $('#lModalSuccess').modal("hide");
        window.location.href = "@Url.Action("importModel","COPR16_FILE_IMPORT")";
    });
    $('.NoConfirmedBtn').click(function () {
        $('#CONFIRMED_DLG').modal("hide");
    });
    $('.NoConfirmedBtn2').click(function () {
        $('#CONFIRMED_DLG2').modal("hide");
    });

    $('.form-uniq').change(function () {
        var uniqStr = $('.form-uniq').val();
        $('#hidden_cOPR16_FILE_IMPORT_FSIM_SEQDT').val(uniqStr);
    });
    $('.form-uniq').val('@CM_APPLICATIONS.Models.AppPropModel.sDate');

     $('#hidden_cOPR16_FILE_IMPORT_FSIM_SEQDT').val('@CM_APPLICATIONS.Models.AppPropModel.sDate');
    $('.form-date').val('@CM_APPLICATIONS.Models.AppPropModel.today');
    $('.form-username').val('@CM_APPLICATIONS.Models.AppPropModel.username');
    $('.form-uniq').datepicker({
        dateFormat: 'yy-M-dd',
        buttonImage: "/Content/images/calendar.png"
    });
    var tbVar = $('.data-step').DataTable({
        "paging": true,
        "ordering": false,
        "info": true,
        "stripe": true,
        "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
        "language": {
                "lengthMenu": "Display _MENU_ items per page",
                "zeroRecords": "No items available",
                "info": "Showing _START_-_END_ of _TOTAL_ items",
                "infoEmpty": "No Items available",
                "infoFiltered": "(filtered from _MAX_ total items)"
        }
        /*,
        columnDefs: [
            { className: 'text-center', targets: [2] }
        ]
        */
    });
    tbVar.clear().draw();
    $('.uploadBtn').attr("disabled", true);
    $('.confirmBtn').attr("disabled", true);
</script>

<script>

    $('.form-file-input').change(function (e) {
        var filename = e.target.files[0].name;
        var type = e.target.files[0].type;
        var size = e.target.files[0].size;
        var path = $(this).val().replace(filename, '');
        var extension = filename.replace(/^.*\./, '');
        //alert(filename);

        $('.form-file-type').val(extension);
        $('.form-file-format').val(type);
        $('.form-file-path').val(path);
        $('.form-file-size').val(size);
        $('.form-file-name').val(filename);
        console.log(e.target.files[0]);
        console.log(e.target.files[0].webkitRelativePath);
        $('.file-info').show();
        $('.uploadBtn').attr("disabled", false);
        $('.confirmBtn').attr("disabled", true);
    });
</script>
<script>
    $('.edit-date-picker').click(function () {
        $('.form-uniq').datepicker('show');
    });

    function verifyUniqDT() {
        var uniq_id = $('.form-uniq').val();
        var urlText = "@Url.Action("getUniqID","COPR16_FILE_IMPORT")";
        var options = { "backdrop": "static", keyboard: true };
        var jdata = {id : uniq_id}
        //console.log(jdata);
        //console.log(".---.");

        $.ajax({
            type: "POST",
            url: urlText,     //your action

            data: jdata,
            success: function (result) {
                console.log(result);
                console.log(result[0].GUID);
                if (result[0].GUID == undefined || result[0].GUID == null) {

                    upload_files();
                } else {

                    $('#CONFIRMED_ASK2').html("Selected date \""+uniq_id+"\"are exiting uploaded <br>Please confirmed to continue?");
                    $('#CONFIRMED_DLG2').modal("show");

                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("COPR16 Error");
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#ModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);
                $('#lModalError').modal("show");
            }
        });

    }
    function checkField(row,colName){
        if (row.hasOwnProperty(colName)) {
            return row[colName];
        } else {
            $('#lModalBodyError').html("File import is no column name <b>" +colName+"</b");
            $('#lModalError').modal("show");
            closeConpleting();
            return null;
        }
    }
    var msDateRegex = /"\\\/Date\((-?\d+)\)\\\/"/g;
    function  net2JavaDate(data) {
        return JSON.parse($.trim(data.replace(msDateRegex, '{"__date":$1}')), function(key, value) {
                            return value && typeof value.__date == "number" ? new Date(value.__date) : value;
                        });
                    }
    function upload_files() {
        var formObject = $('.main-form-data');
        var formData = new FormData(formObject[0]);
        autoCloseCompleted = true;
        $.ajax({
            type: "POST",
            url: $(formObject).prop("action"),
            data: formData,
            contentType: false, //this is requireded please see answers above
            processData: false, //this is requireded please see answers above
            error: function (jqXHR, textStatus, errorThrown) {
                $('#lModalLabelError').html("COPR16 Error");
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                $('#ModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);
                $('#lModalError').modal("show");
                console.log(jqXHR);
                closeConpleting();
                console.log(jqXHR);
                tbVar.clear().draw();
                closeConpleting();
            },
            success: function (result) {
                console.log(result);
                var rowResult = result.Data;
                console.log(rowResult);
                if (rowResult != null) {
                    extractDataFromJson(rowResult);
                }
                console.log("Table Created....");
                console.log("Table Created....");
                closeConpleting();
                $('.uploadBtn').attr("disabled", true);
                $('.confirmBtn').attr("disabled", false);
            }
        });

    }
    function addRowtoDt(rowData) {
       
        var rows = tbVar.row.add(rowData).draw(false).node();
    }
    function extractDataFromJson(jsonData) {
        var rowCount = jsonData.length;
        var printColName = false;
        console.log("rowCount:", rowCount);
        tbVar.clear().draw();
        $.each(jsonData, function (index, objectValue) {
            //console.log("index:", index);
            //console.log("objectValue:", objectValue);
            if (!printColName) {
                /*
                $.each(objectValue, function (colIndex,ColObject) {
                    console.log("colIndex:", colIndex, ", ColObject", ColObject);
                });
                */
                //console.log("ColCount : ", Object.keys(objectValue).length);
                printColName = true;
            } else {
                
                var colIndexNumber = 0;
                var modelName = "";
                var lineName = "";
                var positionName = "";
                var sbPart = "";
                var bck1Part = "";
                var bck2Part = "";

                $.each(objectValue, function (colIndex, ColObject) {
                    //console.log("colIndex:", colIndex, ", ColObject", ColObject);
                    switch (colIndexNumber) {
                        case 0:
                            modelName = ColObject;
                            break;
                        case 1:
                            lineName = ColObject;
                            break;
                        case 2:
                            positionName = ColObject;
                            break;
                        case 3:
                            sbPart = ColObject;
                            break;
                        case 4:
                            bck1Part = ColObject;
                            break;
                        case 5:
                            bck2Part = ColObject;
                            break;
                    }
                    
                    colIndexNumber++;
                });


                addRowtoDt([modelName, lineName, positionName, sbPart, bck1Part, bck2Part]);
            }
            

        });
    }
    function ConfirmUpload() {

        var formData = {
            "ModelsData": []
        };
        tbVar.rows().every(function (rowIdx, tableLoop, rowLoop) {
            var node = this.node();
            var MODEL = $(node).find('td').eq(0).text();
            var LINE = $(node).find('td').eq(1).text();
            var POS = $(node).find('td').eq(2).text();
            var SB = $(node).find('td').eq(3).text();
            var BCK1 = $(node).find('td').eq(4).text();
            var BCK2 = $(node).find('td').eq(5).text();
            itemsVal = {
                "modelName": MODEL,
                "lineName": LINE,
                "positionName": POS,
                "SBPart": SB,
                "Bck1Part": BCK1,
                "Bck2Part": BCK2

            };
            formData["ModelsData"].push(itemsVal);
        });

        var urlText = "@Url.Action("ConfirmUploadModel","COPR16_FILE_IMPORT")";
        var options = { "backdrop": "static", keyboard: true };
        console.log(formData);
        //console.log(".---.");
        $.ajax({
            type: "POST",
            url: urlText,     //your action
            //data: $('form').serialize(),   //your form name.it takes all the values of model
            //dataType: 'json',
            data: formData,
            success: function (result) {
                console.log(result);
                $('#lModalBodySuccess').html("This items volume data was uploaded");
                $('#lModalSuccess').modal("show");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                $('#lModalLabelError').html("Upload SPC FILE Error");
                //$('#lModalBodyError').html("Cannot save data : " + errorThrown);
                var obj = $(jqXHR.responseText);
                var title = obj.filter('title')[0];
                var details = obj.filter('span')[0];
                console.log(title);
                $('#ModalBodyError').html(title.innerHTML + '<br>' + details.innerHTML);
                $('#lModalError').modal("show");
                console.log(jqXHR);
                closeConpleting();

                //$('#lModalError').modal("show");
            }
        });
        return false;
    }
    $('.confirmBtn').click(function () {
        ConfirmUpload();
    });

    $('.YesConfirmedBtn').click(function () {
        ConfirmUpload();
        $('#CONFIRMED_DLG').modal("hide");
    });
    $('.YesConfirmedBtn2').click(function () {
        $('#CONFIRMED_DLG2').modal("hide");
        upload_files();
    });

    $('.uploadBtn').click(function () {
        var filename = $(".form-file-input").val();
        if (filename == undefined || filename == "") {
            $('#lModalBodyError').html("Please select file for uploading");
            $('#lModalError').modal("show");
            return;
        }
        //verifyUniqDT();
        upload_files();
    });
</script>
